[2013-09-30 12:41] katherinef opened #1 "bam2stats.py - error compiling cython file and outfile_details keyword error"
Running bam2stats.py results in the following error:
cat rnaseq_test.bam | python /ifs/devel/katherinef/cgat/scripts/bam2stats.py -
## Error compiling Cython file:

...
    cdef int x
    cdef int lflags = len(FLAGS)
    cdef int f

[code]

---

/ifs/devel/katherinef/cgat/scripts/_bam2stats.pyx:77:9: 'FastqProxy' is not a type identifier
## Error compiling Cython file:

...
        # Alternatives

[2013-09-30 13:04] #1 closed, assigned to nobody

[2013-10-22 18:00] IanSudbery opened #2 "Unique read filtering for bowtie"
Someone has added a section to the preprocessing step for the bowtie mapper in PipelineMapping that references unique_cmd without setting it first.

To get unique reads out of bowtie it is better to setup bowtie to only report unique matches with -m1 rather than post filter.

Can we please remove the unique filtering from the Bowtie post processing?

[2013-10-24 21:06] #2 closed, assigned to nobody

[2013-11-06 15:23] IanSudbery opened #3 "pairs_mapped counting in bam2stats.py"
bam2stats is counting read_pairs incorrectly.

The value provided is higher than the result of the command:

samtools view -f 64 -F 12 <bam_file> | wc -l

(this is requiring first in pair, and not unmapped or mate unmapped)

samfiles may contain multiple alignments per read, and so it is possible that there may be many alignments per read, but the samtools command should provide an upper bound.

F

[2014-02-13 13:50] nickilott opened #5 "runGO.py"
I was trying to run runGO.py so that it would return an emprical p-value. However, the calculateFDR function in GO.py attempts to use getSamples() with gene2go as an argument. gene2go is not however passed as an argument to calculateFDR and therefore causes runGO.py to fail with the following error:

Traceback (most recent call last):
  File "/ifs/devel/nicki/cgat/GO.py", line 2229, in <module>

[2014-02-28 14:25] IanSudbery opened #6 "--matrix-format in bam2geneprofile"
In the last commit to bam2geneprofile, the --matrix-format option seems to have dissappeared. Is this deliberate? Is is documented? If its deliberate, then it needs to be removed from the tests as they are now failing with the error 'no option --matrix-format'.

[2014-02-28 14:46] #6 closed, assigned to nobody

[2014-04-02 16:46] IanSudbery opened #8 "duplicate entry names in index_fasta"
I'm going through and writing tests. Then I'm going to do my assigned documentation. Any bugs I come across, I'm going to submit here. When I finish, I will go back through these and fix try to fix as necessary if no one else has.

index_fasta has an option --allow-duplicates, which should allow the same contig name:

From the help:

[code]

however if I run

[code]

in the index_fasta tests direc

[2014-04-02 17:15] IanSudbery opened #9 "index_genome verification using a compressed index"
index_fasta --verify works fine when both the reference database and comparator are uncompressed. However, if the reference database is compressed the process fails with the traceback:

[code]

If the reference is uncompressed by the comparator is compressed, then the test starts without error but runs for a very long time (may never finish)
## Ian

[2014-04-02 17:30] TomSmithCGAT opened #10 "bed2fasta - unused options to be implemented or removed from script"
The following options are unused in bed2fasta.py:
--min-length
--max-length
--extend-at
--extend-by
--use-strand

To do:
--use-strand should be implemented. The other options may be useful also?

[2014-04-14 10:28] AndreasHeger opened #11 "AssertionError: lca2table scripts/modules - ImportError"
Script lca2table can not be imported

[2014-04-14 10:28] AndreasHeger opened #12 "AssertionError: pipeline_idr scripts/modules - Exception"
pipeline_idr can not be imported

[2014-04-14 10:41] AndreasHeger opened #13 "Pep8 violations - bam2feature.py"

[2014-04-14 10:41] AndreasHeger opened #14 "lca2table - pep8 fails"

[2014-04-14 10:42] AndreasHeger opened #15 "PipelineIDR.py - pep8 fails"
also:

pipeline_idr.py
pipeline_idr/trackers/IDR.py

[2014-04-14 10:43] AndreasHeger opened #16 "PipelineMetagenomeAssembly.py - pep8 fails"
also:

pipeline_metagenomecommunities.py
/pipeline_metagenomeassembly.py
pipeline_docs/pipeline_metagenomecommunities/trackers/Kegg.py
pipeline_docs/pipeline_metagenomecommunities/trackers/Lca.py
pipeline_docs/pipeline_metagenomecommunities/trackers/Metaphlan.py

[2014-04-14 10:44] AndreasHeger opened #17 "pipeline_rnaseqlncrna.py - pep8 fails"

[2014-04-14 13:09] #13 closed, assigned to MikeDMorgan

[2014-04-29 15:09] IanSudbery opened #18 "set-gene-to-transcript in gtf2gtf.py fails"
with error message

raceback (most recent call last):
  File "/ifs/devel/Ian/cgat/scripts/gtf2gtf.py", line 1291, in <module>
    sys.exit(main(sys.argv))
  File "/ifs/devel/Ian/cgat/scripts/gtf2gtf.py", line 638, in main
    gff.gene_id = gff.transcript_id
AttributeError: 'pysam.TabProxies.GTFProxy' object has no attribute 'gene_id'

[2014-04-29 16:09] #18 closed, assigned to jethrojohnson

[2014-05-22 15:55] #9 closed, assigned to AndreasHeger

[2014-05-22 15:55] #8 closed, assigned to nobody

[2014-05-22 15:56] #10 closed, assigned to nobody

[2014-06-08 06:19] zhouqi1982 opened #19 "bam2geneprofile issue"
Hi,
I have installed cgat on my Ubuntu machine, and when I run bam2geneprofile, it says:

Traceback (most recent call last):
  File "/usr/local/bin/cgat", line 9, in <module>
    load_entry_point('CGAT==0.2.1', 'console_scripts', 'cgat')()
  File "/usr/local/lib/python2.7/site-packages/CGATScripts/cgat.py", line 126, in main
    module = imp.load_module(command, file, pathname, description)
  File

[2014-06-09 12:35] IanSudbery opened #20 "gtf2table swapping spliced and unspliced reads"
Running gtf2table with
gtf2table.py -b bamfile.bam -c read-counts -L /dev/null --library-type firststrand

is producing output where the number of outputed as counted_splice is the number of unspliced reads and counted_unspliced is the number of spliced reads.

[2014-07-03 09:28] #17 closed, assigned to nobody

[2014-07-03 09:33] #5 closed, assigned to nobody

[2014-07-21 14:38] jethrojohnson opened #21 "Error compiling Cython files is causing Travis to fail"
Error when compiling Cython files is causing Travis to fail
(see https://s3.amazonaws.com/archive.travis-ci.org/jobs/30447970/log.txt)

The error below appears:

cythoning scripts/_bam2peakshape.pyx to scripts/_bam2peakshape.c
## Error compiling Cython file:

...
        self.shift = shift

[code]

---

[2014-07-21 14:41] #15 closed, assigned to nobody

[2014-08-06 15:04] jethrojohnson opened #22 "PipelineIDR.py - changes to sample naming requirements using PipelineTracks"
PipelineIDR.callerIDRPeaks makes use of PipelineTracks when generating input file ids for peakcalling.

In commit 774232e92e377da541627783fc54796222aec3d6 the run method in callerIDRPeaks switched from using PipelineTracks.Sample3 to PipelineTracks.AutoSample. This changed attribute names of the resulting sample object from 'tissue' 'condition' 'replicate' to 'attribute%i'.

However, elsewhere in

[2014-08-18 15:31] #21 closed, assigned to AndreasHeger

[2014-08-18 15:38] #20 closed, assigned to AndreasHeger

[2014-08-19 14:29] #22 closed, assigned to nobody

[2014-08-19 14:36] jethrojohnson opened #23 "Inconsistency between the quality encoding options in fastq2fastq.py and Fastq.py"
fastq2fastq.py  accepts sanger, solexa, phred64 and integer,
Fastq.py accepts sanger, solexa, phred64 and illumina-1.8

Not sure how these relate to one another, but it's not currently possible to use either --change-format, or --guess-format with the option illumina-1.8.

[2014-09-04 16:29] #23 closed, assigned to MikeDMorgan

[2014-09-10 11:42] IanSudbery opened #24 "Expression.py replicate detection"
Currently Expression.py detects if a data set has replicates by look at the size of the smallest group. This means that in the situation of "partial replication", data is detected as replicated. However, the DESeq manual suggests treating partially replicated data as if it were replicated (using pooled variance estimation shares information across conditions anyway, so the replicated condition ben

[2014-09-10 11:45] IanSudbery opened #25 "Expression.py multiple groups in edgeR"
DESeq tests multiple groups by doing all pairwise comparisons. EdgeR does it via an ANNOVA-like test. This works fine. However, EdgeR then tries to do an MA plot and passes a list of conditoins to plotSmear:

[code]

This fails if there are more than two groups because (understandably) plotSmear requires two groups and will fail with more than two.

[2014-09-11 17:11] #25 closed, assigned to nobody

[2014-09-30 13:00] csandorfr opened #28 "issue with option without_cluster"
Hello,

 I try change the option without_cluster (without_cluster=0) in the pipeline.ini file (my workdirectory) to run pipeline_annotations.py. The head of my pipeline.ini is:
# Test specific parameters for test_annotations
#
# Use pre-indexed fasta file with only hg19.chr19
#

[general]
# location of indexed genome

genome=hg19
# location of indexed genome

genome_dir=./
[ensembl]

without_clust

[2014-10-01 10:01] csandorfr opened #29 "pipeline_mapping function buildTranscriptLevelReadCounts"
Hello,

When I ran this function, even if I use the --local, the function use the cluster. I think the issue come from the list statements (in others function it is just a string statement (e.g. buildExonValidation)). P.run() use the cluster in the case of list.

It is normal behavior for this funcion.

Many Thanks

Cynthia
Cynthia

[2014-10-01 13:53] IanSudbery opened #30 "bam_vs_bed"
Why is bam_vs_bed called bam_vs_bed when the same job, when performed for gtf files is done using gtf2table -c counts?

Also what is bam_vs_bed doing that coverageBed doesn't do?

[2014-10-01 14:01] IanSudbery opened #31 "bam2bed improvements"
Bam to bed has a number of short commings:
- It won't operate on sam files, only bam files when there is no real reason for this.
- --region and --merge-pairs cannot both be specified. You can use samtools and pipe into bam2bed, but then you get fragements where read one is in the region, irrespective of where the mate is. Thus fragments that overlap the region only at one end may or may not be ou

[2014-10-01 15:18] IanSudbery opened #32 "bam2fastq - use output pattern"
Currently bam2fastq must be run with three positional arguements - an input bam and an output bam, should we allow the use of a --output-pattern like for fastqs2fastqs ?

[2014-10-01 16:05] IanSudbery opened #33 "Documentation - bed2stats"
You've been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before.

Our current notes are:
more detail for options
Example input and output, describe options

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:07] IanSudbery opened #34 "Documentation - chain2stats"
Jethro has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before.

Our current notes are:
needs examples and more option description
Example input and output, describe options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:08] IanSudbery opened #35 "Documentation - fastq2fastq"
Mike has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
Needs options
Document options and usage example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:10] IanSudbery opened #36 "Documentation - fastqs2fastqs"
Ian has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
options need documenting

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:11] IanSudbery opened #37 "Documentation - gff2bed"
David has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs minimal level of documentation
Expand options documentation and usage

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:12] IanSudbery opened #38 "Documentation - gff2psl"
Tom has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs minimal level of documentation
Expand options documentation and usage

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:12] IanSudbery opened #39 "Documentation - gtf2tsv"
Andreas has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs minimal level of documentation
Example input and output, describe options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished

[2014-10-01 16:14] IanSudbery opened #40 "Documentation - bed2fasta"
Tom has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs example from input and output
Example input and output, describe options, give correct script name (is it bed2stat or bed2table?)

Please see the documentation style guide.

Please pass

[2014-10-01 16:15] IanSudbery opened #41 "Documentation - bed2gff"
David has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Example input and output, usage recommendation

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:16] IanSudbery opened #42 "Documentation - bed2table"
Ian has been assigned to look at the documentaiton for bed2stats, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Document options and usage example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:17] IanSudbery opened #43 "Documentation - beds2beds"
Mike has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Expand all areas

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:19] IanSudbery opened #44 "Documentation - chain2psl"
Andreas has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Expand all areas

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:19] IanSudbery opened #45 "Documentation - gff2histogram"
Ian has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs usage examples and reformat

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:21] IanSudbery opened #46 "Documentation - gtfs2tsv"
Mike has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs examples and more option description
Example input and output, describe options

Please see the documentation style guide.

Please pass back to charlie and katie for checking whe

[2014-10-01 16:22] IanSudbery opened #47 "Documentation - bam2stats"
Jethro has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs examples and more option description
Example input and output, describe options

Please see the documentation style guide.

Please pass back to charlie and katie for checking w

[2014-10-01 16:23] IanSudbery opened #48 "Documenation bam_vs_bam"
Antonio has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Expand usage and example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:25] IanSudbery opened #49 "Documentation diff_bed"
Jethro has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs reformat and usage examples
Expand usage and example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:26] IanSudbery opened #50 "Documentation - diff_chains"
David has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs example usage and reformat

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:27] IanSudbery opened #51 "Documentation - fasta2bed"
Antonio has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
Looks OK, needs options and example documented
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:29] IanSudbery opened #52 "Documentation fasta2variants"
Antonio has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
expand example slightly
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:31] IanSudbery opened #53 "Documentation - fastq2table"
Ian has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
just need reformat
Example input and output, describe options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:31] IanSudbery opened #54 "Documentation gff2gff"
Tom has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
maybe expand usage example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:32] IanSudbery opened #55 "Documentation - gtf2table"
Andreas has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
expand usage??
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:33] IanSudbery opened #56 "Documentation diff_bam"
Jethro has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
Yes, needs an example
Expand usage and example

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:34] IanSudbery opened #57 "Documentation fasta2fasta"
Antonio has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
needs examples
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:35] IanSudbery opened #58 "Documenation - fasta2kmerconent"
Mike has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
just needs reformatting
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:36] IanSudbery opened #59 "Documentation - fasta2table"
David has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
reformat
Document options

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:37] IanSudbery opened #60 "Documentation - gtf2gff"
Ian has been assigned to look at the documentaiton for the above script, which hasn't been imporoved before. This doesn't mean that there is anything wrong, just that it hasn't been checked.

Our current notes are:
maybe expand examples

Please see the documentation style guide.

Please pass back to charlie and katie for checking when finished.

[2014-10-01 16:40] IanSudbery opened #61 "Documentation Improvement bam_vs_bam"
"Purpose" and "documentation" sections don't correspond - "two BAM files" vs "one or more BAM files". The example is only appropriate if there are two files being compared.

[2014-10-01 16:41] IanSudbery opened #62 "Improve documentatino for gff2fasta"
The documentation for this script has been checked and found wanting.

Mike has been assigned to fix it.

The comments are:
should say "gff or gtf formatted" and "as a fasta file" in purpose. Not clear what the difference is between dust, dustmaker etc. Not clear which options need to be specified and which don't.

[2014-10-01 16:46] IanSudbery opened #63 "Improve Documentation gtf2fasta"
The documentation for this script has been checked and found wanting.

Tom has been assigned to fix it.

The comments are:

"needs example usage and reformat. ""Script can be used for quick-and-dirty anotation"" - so shouldn't really be used for anything proper? If this is true only lists one alternative are there others? Output section needs formatting; Usage: all these options are vital? example

[2014-10-01 16:46] IanSudbery opened #64 "Improve Documentation gff2stats"
The documentation for this script has been checked and found wanting.

Mike has been assigned to fix it.

The comments are:

tagged for only GFF but purpose/usage says can be used for GTF also? Usage - says single option `is-gtf` more consistent with rest of doc if say –is-gtf

[2014-10-01 16:47] IanSudbery opened #65 "Improve Documentation gff2coverage"
The documentation for this script has been checked and found wanting.

Antonio has been assigned to fix it.

The comments are:
"Purpose - ""computes the genomic coverage of intervals""...I don't understand what are these intervals are? What are the options for different features? "

[2014-10-01 16:48] IanSudbery opened #66 "Improve Documentation bam2bam"
The documentation for this script has been checked and found wanting.

David has been assigned to fix it.

The comments are:
It's not 100% clear from the documentation what the script can do or what it is for.  Specifically, "The script implements the following methods" is hard to understand - are these all the different ways the script can modify the BAM file?  Some of the options are confusing e

[2014-10-01 16:49] IanSudbery opened #67 "Improve Documentation - fastqs2fastqs"
The documentation for this script has been checked and found wanting.

Andreas has been assigned to fix it.

The comments are:
detail options, expand example, simple example of file output?

[2014-10-01 16:50] IanSudbery opened #68 "Improve documentation - fastas2fasta"
The documentation for this script has been checked and found wanting.

Jethro has been assigned to fix it.

The comments are:

example of the output file would be handy. I don't understand what "id of the first sample is output" means

[2014-10-01 16:50] IanSudbery opened #69 "Improve documentation for diff_gtf"
The documentation for this script has been checked and found wanting.

Ian has been assigned to fix it.

The comments are:
needs options example? Pattern ID?

[2014-10-01 16:52] IanSudbery opened #70 "Improve Documentation - bam2wiggle"
The documentation for this script has been checked and found wanting.

Antonio has been assigned to fix it.

The comments are:
Purpose "convert a bam file to a bigwig or bedgraph file" contradicts the title of the script and the default option to output a wiggle file.

[2014-10-01 16:53] IanSudbery opened #71 "Improve Documentation - bed2bed"
The documentation for this script has been checked and found wanting.

Ian has been assigned to fix it.

The comments are:
Different order to the other help files, otherwise fine.

[2014-10-01 16:53] IanSudbery opened #72 "Improve Documentation - diff_fasta"
The documentation for this script has been checked and found wanting.

Jethro has been assigned to fix it.

The comments are:
options: reformat output options for consistency with other options? another example of output options?

[2014-10-01 16:54] IanSudbery opened #73 "Improve Documentation - bam2bed"
The documentation for this script has been checked and found wanting.

Mike has been assigned to fix it.

The comments are:
different order to the other help files, otherwise OK.

[2014-10-01 16:55] IanSudbery opened #74 "Improve Documentation - bam_vs_gtrf"
The documentation for this script has been checked and found wanting.

David has been assigned to fix it.

The comments are:
What is NH Flag? Only one example and it is quite complicated.  Output could be in table Not clear which options always need to be set.

[2014-10-01 16:56] IanSudbery opened #75 "Improve Documentation - index_fasta"
The documentation for this script has been checked and found wanting.

Andreas has been assigned to fix it.

The comments are:
needs more details for options

[2014-10-01 17:01] #71 closed, assigned to IanSudbery

[2014-10-02 09:44] #66 closed, assigned to david-cgat

[2014-10-02 09:45] #74 closed, assigned to david-cgat

[2014-10-02 13:59] #67 closed, assigned to AndreasHeger

[2014-10-02 16:03] #69 closed, assigned to KatyBrown

[2014-10-02 16:22] #75 closed, assigned to AndreasHeger

[2014-10-03 15:35] IanSudbery opened #76 "Using --update in diff_gtf"
diff_gtf allows the use of --update to update already exisiting results. This should allow a set of results to be generated with

[code]

and then be updated to add a third with

[code]

however, the second formulation breaks diff_gtf because it checks to make sure its got two positional arguements, even if --update is supplied.

[2014-10-08 09:34] #43 closed, assigned to KatyBrown

[2014-10-08 14:47] AndreasHeger opened #77 "test for diff_gtf - missing file"
The file tests/data/hg19_rna_head.gff.gz has been deleted causing the test for diff_gtf.py to fail.

[2014-10-08 16:13] #77 closed, assigned to jethrojohnson

[2014-10-09 14:06] #29 closed, assigned to AndreasHeger

[2014-10-22 16:10] #58 closed, assigned to KatyBrown

[2014-10-22 16:30] #55 closed, assigned to KatyBrown

[2014-10-22 16:34] #39 closed, assigned to KatyBrown

[2014-10-27 09:38] #35 closed, assigned to Charlie-George

[2014-10-27 09:48] #37 closed, assigned to david-cgat

[2014-10-27 09:51] #41 closed, assigned to david-cgat

[2014-10-27 09:52] #33 closed, assigned to Charlie-George

[2014-10-27 09:53] #59 closed, assigned to david-cgat

[2014-10-27 09:58] #44 closed, assigned to Charlie-George

[2014-10-27 10:28] #73 closed, assigned to Charlie-George

[2014-10-27 10:30] #46 closed, assigned to Charlie-George

[2014-10-31 11:28] #76 closed, assigned to nobody

[2014-10-31 13:45] #38 closed, assigned to TomSmithCGAT

[2014-10-31 13:47] #54 closed, assigned to TomSmithCGAT

[2014-10-31 13:47] #64 closed, assigned to KatyBrown

[2014-10-31 13:53] #62 closed, assigned to Charlie-George

[2014-11-03 09:19] #49 closed, assigned to jethrojohnson

[2014-11-03 09:21] #72 closed, assigned to jethrojohnson

[2014-11-03 09:25] #34 closed, assigned to jethrojohnson

[2014-11-03 10:42] #40 closed, assigned to TomSmithCGAT

[2014-11-03 10:43] #61 closed, assigned to TomSmithCGAT

[2014-11-03 10:45] #63 closed, assigned to TomSmithCGAT

[2014-11-03 14:48] #65 closed, assigned to antoniojbt

[2014-11-03 16:02] #57 closed, assigned to antoniojbt

[2014-11-03 16:29] #52 closed, assigned to antoniojbt

[2014-11-03 16:53] #51 closed, assigned to antoniojbt

[2014-11-03 17:02] #48 closed, assigned to antoniojbt

[2014-11-03 17:13] #70 closed, assigned to antoniojbt

[2014-11-05 13:35] #28 closed, assigned to nobody

[2014-11-05 14:09] #60 closed, assigned to Charlie-George

[2014-11-05 14:53] #30 closed, assigned to nobody

[2014-11-05 15:14] #19 closed, assigned to nobody

[2014-11-05 15:15] #14 closed, assigned to nobody

[2014-11-05 15:15] #11 closed, assigned to nobody

[2014-11-05 15:16] #16 closed, assigned to nobody

[2014-11-05 16:21] #50 closed, assigned to Charlie-George

[2014-11-05 16:23] #68 closed, assigned to Charlie-George

[2014-11-05 16:25] #53 closed, assigned to Charlie-George

[2014-11-05 16:28] #45 closed, assigned to Charlie-George

[2014-11-05 16:30] #36 closed, assigned to Charlie-George

[2014-11-07 13:12] #56 closed, assigned to KatyBrown

[2014-11-07 13:14] #47 closed, assigned to KatyBrown

[2014-11-07 13:15] #42 closed, assigned to KatyBrown

[2014-11-07 13:17] #32 closed, assigned to KatyBrown

[2014-11-07 13:18] #31 closed, assigned to KatyBrown

[2014-12-01 12:03] sebastian-luna-valero opened #78 "bam2wiggle.py test"
Hi all,

There is an issue when testing bam2wiggle.py. This error message appears on the log file:
[code]

From previous tests in a virtual machine I checked that the error was related to high RAM usage. My guess is that not every virtual machine on Travis has the same RAM size and therefore some builds end successfully:
https://travis-ci.org/CGATOxford/cgat/builds/42399068

while others don't:
ht

[2014-12-05 11:52] IanSudbery opened #79 "Merging bed12 entries produces invalid entries in bed2bed"
If bed2bed.py is asked to merge bed entries that contain multiple blocks, merging is done as if the entry was a single bed6 entry. This leads to invalid bed entries. For example, if the following are merged:

chr1	674218	674274	ENSG00000230021_5	0	-	674218	674274	255,0,0	1	56	0
chr1	674229	674260	ENSG00000230021_2	0	-	674229	674260	255,0,0	1	31	0

The result is:
chr1	674218	674260	ENSG00000230021_

[2014-12-05 11:59] IanSudbery opened #80 "Merge operation is inconsistant in bed2bed"
Some times bed2bed will output the union of two overlapping entries, sometimes it will output the intersection, sometimes neither. This is because it always sets the start of the merged interval to be the start of the first interval and the end of the merged entry to be the end of the last entry to be merged. Because entries are sorted by start co-ordinate, the merged entry will always start with

[2014-12-05 18:04] #80 closed, assigned to nobody

[2014-12-17 12:09] AndreasHeger opened #82 "Suggestions for data2spike"
Hi Tom,

I think the script is very well done!  I have made some minor changes in the script.

Please find below some suggestions:

1. Make the design table compatible with our other design tables (i.e. no spike column).
Rather, add column names or a regex for selecting the columns to be "spiked" (default is all?).
This way users need not create separate spike design file.

2. Rename. "Data" is to

[2014-12-17 12:39] AndreasHeger opened #83 "Travis tests fail"
There seems to be an issue with the C++ Compiler.

[2014-12-17 13:02] TomSmithCGAT opened #84 "Make counts2counts.py from runExpression.py and data2spike.py"
runExpression.py contains filtering and transformation functions that would more suitably be contained in a counts2counts script. data2spike.py generates in-silico spike ins from a table of counts and should therefore also be merged into counts2counts.py.

Once counts2counts.py has been generated, create the following issues:
1. Counts2counts tests
2. Refactor pipelines which use runExpression.py/

[2014-12-17 15:26] sebastian-luna-valero opened #85 "PEP error now on PipelineExome.py"
Hi,

There is a PEP error on PipelineExome.py:
Traceback (most recent call last):
  File "/home/cgat/conda-install/envs/cgat-travis/lib/python2.7/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/cgat/CGAT-GITHUB/tests/test_style.py", line 70, in check_style
    'pep8 style violations: %s' % ','.join(found))
AssertionError: pep8 style violations: E301:1

Many

[2014-12-17 15:27] #83 closed, assigned to TomSmithCGAT

[2014-12-18 15:15] IanSudbery opened #86 "SGE configuraiton and pipeline portability"
I've been busy trying to get our pipelines running on our system here and have immediately run into some issues.

* Firstly, and most trivially, our queues are called something different. This can be sorted by overriding the standard queue name by adding a cluster config section to pipeline.ini.

* Secondly, our parallel environments are called something different. and we have lots of them. It see

[2014-12-18 18:22] #85 closed, assigned to david-cgat

[2014-12-18 18:38] TomSmithCGAT opened #87 "guessFormat method for Fastq records can't distinguish between +59 and +64"
Solexa quality score range is 59 - 104
Illumina 1.3/1.5 quality score range is 64-104 (called Phred64 in Fastq.py)

The guessFormat method identifies the min and max quality score per fastq entry and then identifies which ranges this quality scores fall within. On this basis all Illumina 1.3/1.5 fastq reads will be identified as both Solexa and Phred64 as will high-quality Solexa reads.

The ambig

[2014-12-19 12:01] IanSudbery opened #88 "Memory Usage by fasta2table.py"
Hi All,

Just trying to get pipeline_annotations running here, and i've run into this problem:

[code]

A quick memory profile of this reveals that fasta2table.py is getting upto 40Gb memory usage before failing:

[code]

 This is actaully beyond what we are allowed to request of systems here, and does seem a little extreme for something that is just supposed to be calculating the CpG frequency.
I

[2015-01-06 15:53] TomSmithCGAT commented on #82
data2spike.py now takes a standard format design table (as per runExpression.py). A seperate issue has been raised to merge data2spike.py and runExpression.py into counts2counts.py

[2015-01-06 15:53] #82 closed

[2015-01-06 15:54] #87 closed

[2015-01-06 18:15] MikeDMorgan opened #89 "ggplot incompatible with cluster submission in Expression.py"
Currently Expression.py makes use of the python ggplot library which requires gtk.  Suggest using R ggplot.  This is causing problems for other scripts and modules that import Expression.py, even if they are not explicitly using it or the particular functions that use ggplot.

Is there a way of using an alternative backend for ggplot as there is with matplotlib?

[2015-01-06 18:23] IanSudbery opened #90 "annotations pipeline.ini incompatible with pipeline_intervals"
Running pipeline_intervals using hg19_ensembl75 annotations produces the following error

[code]

This is due to the interface section on the annotations pipeline pipeline.ini being rearranged (isn't the point of an interface that it doesn't change?). All the tss files now start tts_ but there doesn't seem to be an equivalent one for coding genes. The closest is tss_gene_bed. Should I substitute t

[2015-01-06 19:28] AndreasHeger commented on #89
@MikeDMorgan, python ggplot uses matplotlib under the hood and thus the same backend settings apply.

I have been trying to move to pandas/ggplot instead of R in Expression.py as the code looks cleaner and is easier to debug.

[2015-01-06 19:31] AndreasHeger commented on #90
@IanSudbery, the tss sections have changed more thoroughly as there was no consistency in the files generated previously. I will fix.

[2015-01-07 09:18] #89 closed

[2015-01-07 15:07] IanSudbery commented on #88
Converting to xrange should help there right?

Ian

*From:* Andreas Heger [mailto:notifications@github.com]
*Sent:* 07 January 2015 13:59
*To:* CGATOxford/cgat
*Cc:* Ian Sudbery
*Subject:* Re: [cgat] Memory Usage by fasta2table.py (#88)

@IanSudbery <https://github.com/IanSudbery>

thanks, one remaining problem is the usage of range(), which creates a list
in python 2.7.
Using those means that the

[2015-01-07 20:38] AndreasHeger commented on #88
Indeed. I have done this, but not yet committed.

Best, Andreas

[2015-01-08 10:36] IanSudbery opened #91 "Testing imports"
Hi Guys,

I'm try to merge a branch into the repository, and so I'm try to run all the tests. Do we regularly check that test_import works? Running this produces a rather large number of errors in obscure modules, making it look like this isn't used often. Am I right in assuming this?

Ian
---

[2015-01-08 10:45] AndreasHeger commented on #91
Hi Ian,

which bits are failing?

I think it is active. Typically it will fail on cython extensions, you might need to run

python setup.py develop
python scripts/cgat_rebuild_extensions.py

Best wishes,
Andreas

[2015-01-08 10:48] sebastian-luna-valero commented on #91
Hi Ian, Andreas

Yes, test_import.py is active on travis-ci and there are currently 588
tests passing OK in the latest builds.

Best regards,
Sebastian.

2015-01-08 10:45 GMT+00:00 Andreas Heger <notifications@github.com>:

[2015-01-08 11:21] IanSudbery commented on #91
I had run rebuild_extensions, but not setup.py develop.

setup.py develop doesn't complete anymore:

[code]

Looking at the import errors again more closely (as I should have done before), they are all the same error:
[code]

I assume this is to do with the new version of pysam?

I also have a lot of pep8 errors in pipelines. Have these been newly added to the style tests, I can't see that the pep

[2015-01-08 11:39] AndreasHeger commented on #91
@IanSudbery, yes, that might have to do with the new version of pysam. I will need to look at the setuptools error.

The pep8 tests generally all pass, are you working from a recent pull?

[2015-01-08 12:24] IanSudbery commented on #91
Hi Andreas,

Okay, so I'd rebased by branch to the current master, but had forgotten to update the master. Ooops.  :}.
This solves both the style and import fails. Sorry.

All tests now pass.

Ian

[2015-01-08 12:24] #91 closed

[2015-01-09 11:16] #88 closed, assigned to nobody

[2015-01-14 12:33] IanSudbery opened #93 "Multiple methods options to gtf2gtf"
When executing gtf2gtf the commandline will accept multiple entries for --method. However, only the last one is actually used and no warning is given, nor is it stated in the documentation that only one method can be specified. In some other scripts, multiple manipulations can be specified on a single commandline. (the optparse action is append rather than store).

[2015-01-14 16:01] csandorfr opened #94 "input file issue with pipeline_rnaseqtranscripts.py"
Hi

pipeline_rnaseqtranscripts.py have some issue to find the file geneset_all.gtf.gz used by buildReferenceGeneSet.

when I configure the following parameters in pipeline.ini

like this (1)
directory with annotation information
dir=/net/isi-scratch/cynthia/DATA/Parkinson/RNAseq/bsg-ftp.well.ox.ac.uk/ANNOTATIONS

I have this error:

No way to run job: Input file '/net/isi-scratch/cynthia/DATA/Park

[2015-01-14 18:01] IanSudbery opened #95 "Strand specificity in bed2bed"
Currently bed2bed.py does not take strand into account when merging intervals. The ability to do this would be of use. bedtools merge can be strand specific, but not cannot handle bed12 files properly.

[2015-01-15 12:49] IanSudbery opened #96 "Restricting tests"
Restricting tests no longer seems to work.

I have a file test_scripts.yaml in my test directory that looks like this:
[code]

yet running:

[code]
Runs all tests, which can be very annoying as it takes a long time to run all the tests and when you are trying to sort out a problem with a single test, it really makes things slow.

Ian

[2015-01-15 12:52] AndreasHeger commented on #96
Hi Ian,

it should be _test_scripts.yaml?

Maybe a different name would be better. The idea is that this file should not be part of the repository.

Best wishes,
Andreas

[2015-01-15 13:07] MikeDMorgan commented on #96
Perhaps adding files like this to .gitignore would be good practise?

Regards
Mike
On 01/15/15 12:52, Andreas Heger wrote:

--
CGAT Genomics Training Fellow
MRC Functional Genomics Unit
University of Oxford
+44 1865 282362

[2015-01-15 13:09] AndreasHeger commented on #96
It already is.

[2015-01-15 14:22] #79 closed

[2015-01-15 14:28] IanSudbery commented on #96
Cheers.

[2015-01-15 14:28] #96 closed

[2015-01-15 14:32] IanSudbery commented on #95
Suggested code in a5fb98bc4263ccdafaf1774111d664fd0dc97f6f.

In general the idea is to keep two lists of currently overlapping intervals, one for each strand. One possible issue I can see is that the output might not be sorted.

I'd appreciate someone taking a peek at my reasoning ( @AndreasHeger ?)

[2015-01-15 15:04] IanSudbery opened #98 "Tests for commit work fine on my system. Fail on travis"
Hi Guys,

Tests for 95ad3bdfbffbf86ce953abb6df04905c9fe4c2a2 complete fine on my system, but fail on travis. Any ideas?

[2015-01-15 15:45] sebastian-luna-valero commented on #98
Hi Ian,

According to the output here:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/47121310/log.txt

The error is:
from scipy.linalg import calc_lwork
ImportError: cannot import name calc_lwork

I have been looking for help out there, and the problem is being discussed here:
https://github.com/scipy/scipy/pull/3871

Let's keep an eye on this to see what to do. I will update you with the ou

[2015-01-15 16:11] IanSudbery commented on #98
Ah. I'm probably not getting the error on my environment because I probably havn't updated SciPy.

[2015-01-15 16:15] IanSudbery commented on #95
Oops, wrong commit 75ffd40c5ef1619333191187784d3c6999576277

[2015-01-16 11:47] AndreasHeger commented on #94
@csandorfr , thanks. Recently the layout of the annotations pipeline has changed. The configuration should be (1):

dir=/net/isi-scratch/cynthia/DATA/Parkinson/RNAseq/bsg-ftp.well.ox.ac.uk/ANNOTATIONS

but you might need to re-run the annotations pipeline to create the correct files.

[2015-01-16 11:52] AndreasHeger commented on #95
@IanSudbery, thanks for suggesting this. I think your reasoning is fine. Do you have a unit test case?

[2015-01-16 11:59] AndreasHeger commented on #93
@IanSudbery, unfortunately that is a feature of optarg. You can specify the same argument multiple times, only the last is used. This should be true for not just for --method, but any of the other options as well.
By setting action="append", multiple calls are appended, but I don't see a way to raise an Error.

[2015-01-16 12:22] IanSudbery commented on #93
My problem is more one of consitancy:
Some tools, like for example bed2bed, will take multiple methods and use all of them, running multiple processing steps in a single call, while others, like gtf2gtf will take multiple methods, but only use one of them. There seems to be no documentation as to which tools do which.

The simplest solution I suppose, would be to require all tools to only take a s

[2015-01-16 12:24] IanSudbery commented on #95
I'll add one. My main worry was that it didn't change the output in anyway when not switched on. As far as I can see it doesn't (or at least all the existing tests still pass).

[2015-01-16 14:53] #3 closed

[2015-01-16 14:54] AndreasHeger commented on #78
This has been fixed.

[2015-01-16 14:54] #78 closed

[2015-01-16 14:56] AndreasHeger commented on #90
@IanSudbery, I don't think there is an easy fix. The solution is to re-run the annotations pipeline.

[2015-01-16 14:57] AndreasHeger commented on #12
This has been fixed - test_import passes.

[2015-01-16 14:57] #12 closed

[2015-01-16 15:04] sebastian-luna-valero commented on #98
Hi all,

While this issue is being solved, I have enforced the installation of SciPy
0.14 with Conda until version 0.15 fixes the problem.

This issue should not be closed until SciPy developers propose a solution
at their end.

Best regards,
Sebastian.

2015-01-15 16:11 GMT+00:00 Ian Sudbery <notifications@github.com>:

[2015-01-16 15:09] AndreasHeger commented on #93
I agree that consistency would be good, but I don't want to rule out for some tools to implement optimizations by applying multiple operations in one go. Only allowing one method would mean onerous reparsing steps between multiple steps that could be avoided.

I have briefly looked into providing a check to optparse, but it seems a headache to implement.

[2015-01-16 15:14] sebastian-luna-valero commented on #93
Should we move away from optparse to argparse in the next scrum?

optparse is deprecated in Python 2.7 in favour of argparse:
https://docs.python.org/2/library/optparse.html

Best regards,
Sebastian.

2015-01-16 15:09 GMT+00:00 Andreas Heger <notifications@github.com>:

[2015-01-16 15:15] csandorfr commented on #94
Thanks

OK it doesn't work with dir=/net/isi-scratch/cynthia/DATA/Parkinson/RNAseq/bsg-ftp.well.ox.ac.uk/ANNOTATIONS

I have this error: No way to run job: Input file '/net/isi-scratch/cynthia/DATA/Parkinson/RNAseq/bsg-ftp.well.ox.ac.uk/ANNOTATIONS/geneset_all.gtf.gz' does not exist

I'm updating the pipelines and I will re run pipeline_annotations.py

[2015-01-16 15:16] AndreasHeger commented on #93
We looked at that last time and thought it would not be worth the effort.

Best wishes,
Andreas

On 01/16/15 15:14, Sebastian Luna Valero wrote:

[2015-01-16 15:39] sebastian-luna-valero opened #99 "fasta2fasta.py command-line test fails"
Hi all,

This is the error:
[code]

Log here:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/47254114/log.txt

Could the responsible for this script please have a look?

Best regards,
Sebastian.

[2015-01-16 15:56] AndreasHeger commented on #99
I am working on this.

Best wishes,
Andreas

On 01/16/15 15:39, Sebastian Luna Valero wrote:

[2015-01-16 16:06] IanSudbery commented on #93
Why not allow multiple methods in gtf2gtf? is this because differing orders makes the results too unpredictable?

A check on a case by case basis would be fairly easy, or simply stating in the documentation which is correct would be better than nothing?

See d1b93db0759f453a67fef362cd886cac5abf7310

[2015-01-16 16:38] AndreasHeger commented on #93
The problem with gtf2gtf is that different methods require the input stream to be sorted in different ways. Either you always sort, breaking the ability to process in a stream and possibly wasting resources (why sort if it is already sorted) or you ask the user to sort as needed (which is what we currently do).

[2015-01-16 16:40] AndreasHeger opened #100 "pipeline_exome scripts/modules - Exception: name 'GATKpreprocessing' is not defined"
Error in pipeline_exome.py

[2015-01-16 16:44] AndreasHeger commented on #99
Fixed, 0479a89308a4c766a3f39c5d4f9bf8f5b389746a

[2015-01-16 16:44] #99 closed

[2015-01-16 16:50] IanSudbery commented on #93
I think in this case then the best solution is just to put a warning in the documentation. See my commit above.

[2015-01-16 16:52] AndreasHeger opened #101 "CGATPipelines/pipeline_rrbs.py - use job_threads instead of -pe dedicated"
Please avoid using "dedicated" in pipelines as it is CGAT-specific, use job_threads=5 instead.

[2015-01-16 16:54] AndreasHeger opened #102 "CGATPipelines/pipeline_exome.py - avoid using -PE dedicated"
Please avoid using "dedicated" in pipelines as it is CGAT-specific, use job_threads=5 instead.

This affects:
CGATPipelines/pipeline_exome.py
CGATPipelines/pipeline_exome_cancer.py
CGATPipelines/pipeline_rnaseqqc.py
CGATPipelines/PipelineExome.py
CGAT/Expression.py

[2015-01-16 17:14] #102 closed

[2015-01-16 17:16] AndreasHeger commented on #101
Was doing it anyways for other files.

[2015-01-16 17:16] #101 closed

[2015-01-16 17:18] AndreasHeger commented on #93
Thanks, that is great. There some typos in Pipeline.py

[2015-01-16 17:24] AndreasHeger commented on #86
@IanSudbery, I have removed all references to "dedicated" in modules and pipelines.

I will also parameterize the mem_free/vmem issue. However, PE+Queue combination will be tricky unless
adding a whole additional layer between the Pipelines and the Queuing system.

[2015-01-16 18:07] csandorfr commented on #94
I updated my version of CGAT pipelines (with git, the date of file changed). I re-ran the pipeline_annotations. However I have still the same error:

check_input_files_exist (*param)
                                                       File "/net/isi-scratch/cynthia/CGAT-DEPS/virtualenv-1.11.6/cgat-venv/lib/python2.7/site-packages/ruffus/file_name_parameters.py", line 381, in check_input_files_e

[2015-01-18 15:19] csandorfr opened #103 "error with tempory fil with pipeline_mapping.py"
Hi,

by running the pipeline_mapping.py with gsnap as mapper, I have the following error:

015-01-18 14:05:56,240 ERROR Experiment.error.1016 0: Task=mapReadsWithGSNAP Error=exceptions.OSError Job=[[./Live-NHDF1-1-R1.fastq.1.gz,gsnap.dir/splicesites.iit]->gsnap.dir/Live-NHDF1-1-R1.gsnap.bam]: ([Errno 2] No such file or directory: '/scratch/ctmpMa1W98')
2015-01-18 14:05:56,241 ERROR Experiment.erro

[2015-01-18 15:48] jethrojohnson commented on #103
This is because the base class in PipelineMapping.py calls Pipeline.getTempDir()

Within Pipeline.py, when no directory  argument is supplied,  getTempDir defaults to HARCODED_PARAMS["shared_tmpdir"], which is set to /ifs/scratch/

Is there a reason to have both scratchdir and shared_tmpdir within PARAMS dict, or would it be okay to combine them to prevent this happening in future?

[2015-01-19 09:16] AndreasHeger commented on #103
There is a difference between the two:

1. local scratch:  tmpdir
2. shared scratch: shared_tmpdir

Best

On 01/18/15 15:48, jethro wrote:

[2015-01-19 10:48] csandorfr commented on #103
I modified in:

(1) local pipeline.ini: shared_tmpdir=/net/isi-scratch/cynthia
(2) CGATPipelines/configuration/pipeline.ini shared_tmpdir=/net/isi-scratch/cynthia
(3) I modified in script Pipeline.py in HARCODED_PARAMS 'shared_tmpdir': '/net/isi-scratch/cynthia'

I have still the same error.

[2015-01-19 11:16] #100 closed

[2015-01-19 11:18] csandorfr opened #104 "error with pipeline_rnaseqdiffexpression.py"
I have error with this pipeline by running the following command:

/net/isi-scratch/cynthia/CGAT-DEPS/cgat/CGATPipelines/pipeline_rnaseqdiffexpression.py make loadEdgeR

I have the following error:
2015-01-14 15:40:11,991 ERROR Experiment.error.971 0: Task=aggregateFeatureCounts Error=CGAT.Pipeline.PipelineError Job=[[feature_counts.dir/THplus-AH016-R1.star_vs_genesetexons.tsv.gz,feature_counts.di

[2015-01-19 11:28] jethrojohnson commented on #104
Hi Cynthia,

Do the input files (e.g. THplus-JR036-R1.star_vs_genesetexons.tsv.gz)
contain data? If so do they have seven columns?

It may be that you are running a different version of featureCounts,
meaning the format of the count table is different (I know this code
works with subread-1.4.6).

On 01/19/15 11:18, csandorfr wrote:

--
Dr Jethro Johnson
CGAT Genomics Training Fellow
MRC Functional

[2015-01-19 11:41] csandorfr commented on #104
Yes it contains data:

-rw-r--r--. 1 cynthias cppgroup 3076250 Jan 14 15:38 THplus-JR036-R1.star_vs_genesetexons.tsv.gz

However it contains 6 columns

['Geneid', 'Chr', 'Start', 'End', 'Strand', 'Length']
['ENSG00000223972', 'chr1;chr1;chr1;chr1', '11869;12595;12975;13221', '12227;12721;13052;14412', '+;+;+;+', '1756']

by examining the log file generated by subread I use the version: v1.4.6

[2015-01-19 11:56] jethrojohnson commented on #104
The last column in the featureCounts table contains the count data.

For some reason these are missing in your data. Is there any error in
the log file THplus-JR036-R1.star_vs_genesetexons.tsv.log?
Alternatively, what happens when you run the same featureCounts command
(see PipelineRnaseq.py line 800) from the command line?

On 01/19/15 11:41, csandorfr wrote:

--
Dr Jethro Johnson
CGAT Genomics T

[2015-01-19 12:16] csandorfr commented on #104
Ok,

I removed the directories *.dir and I re-ran the same command.

The error come from:  buildFeatureCounts

I have the same error of tempory file than with pipeline_mapping.py (not resolved)

Task=buildFeatureCounts Error=exceptions.OSError Job=[[THplus-AH016-R1.star.bam,genesetexons.gtf.gz]->feature_counts.dir/THplus-AH016-R1.star_vs_genesetexons.tsv.gz]: ([Errno 2] No such file or directory:

[2015-01-19 14:13] MikeDMorgan opened #105 "error in pipeline_exome Travis testing"
Travis fails on pipeline_exome:

Traceback (most recent call last):
  File "/home/travis/build/CGATOxford/cgat/conda-install/envs/cgat-devel/lib/python2.7/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg)
  File "/home/travis/build/CGATOxford/cgat/tests/test_import.py", line 90, in check_import
    (basename, msg))
AssertionError: pipeline_exome scripts/modules - Exception

[2015-01-19 14:22] #105 closed

[2015-01-20 12:21] #95 closed

[2015-01-28 12:59] snsansom opened #113 "farm.py broken?"
farm.py does not appear to me to be behaving as expected.

For example:

cat /ifs/mirror/genomes/plain/dm3.fasta | python scripts/farm.py --split-at-regex="^>(\S+)" "wc -c"

Just gives an error (TypeError: unsupported operand type(s) for %: 'int' and 'NoneType').

I ran across this because "buildNUMPTs" in pipeline_annotations.py is failing on my system due to a different farm.py error (to do with

[2015-01-28 13:21] snsansom commented on #113
As an example (command taken from pipeline_annotations.py log) running the following in /ifs/projects/stephens/farm.py/  (i.e. on the CGAT cluster):

##################################
python /ifs/devel/stephens/cgat/scripts/index_fasta.py    --extract=chrM  --log=numts.gtf.gz.log            /ifs/mirror/genomes/plain/mm10     > tmpfile; cat /ifs/mirror/genomes/plain/mm10.fasta     | python /ifs/de

[2015-01-28 17:48] AndreasHeger commented on #113
Thanks, already fixed, but have not pushed changes. Will try to do tonight. Best, andreas                                                                                                                                                                                                                                                                           Sent from my BlackBerry 10 smartphone on the

[2015-01-29 12:39] AndreasHeger commented on #113
@snsansom, farm.py is best tested on the cluster. pipeline_testing does this implicitely.

[2015-01-29 13:50] snsansom commented on #113
Many thanks for looking at this.

After your commits the pipelines_anntotations test works, but the simple:

cat /ifs/mirror/genomes/plain/dm3.fasta | python scripts/farm.py --split-at-regex="^>(\S+)" "wc -c"

appears to still gives an error - not sure if this is now by design?

[2015-01-30 13:17] #104 closed

[2015-01-30 13:24] csandorfr opened #115 "issue with PlotPCA & PlotPairs of Expression.py script"
Hi

I have the following error when I use runExpression.py (same error with PlotPCA):

python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/scripts/runExpression.py               --method=summary               --design-tsv-file=design.tsv               --tags-tsv-file=feature_counts.dir/genesetexons.feature_counts.tsv.gz               --output-filename-pattern=designs.dir/design_vs_genesetexons.feature_

[2015-01-30 13:37] MikeDMorgan commented on #115
Hi Cynthia,
It looks like your design matrix is mis-specified, there should be a numeric identifier that differentiates between cases and controls; they are all 0's at the moment.  See the documentation example in runExpression.py

[2015-01-30 14:16] MikeDMorgan commented on #115
Hi Cynthia,
It's not reading in your counts data properly.  Expression.py uses the 'read.delim' function to read the tags file.  The default delimiter is 'tab' rather than any whitespace.  I'll change it to use the 'read.table', which takes any whitespace as the delimiter.  For now try using a tab-delimited tags file.
Thanks.
Mike

[2015-01-30 14:27] csandorfr commented on #115
I used tab and not whitespace it doesn't work:

zcat feature_counts.dir/genesetexons.feature_counts.tsv.gz | head | od -c
0000000   G   e   n   e   i   d  \t   T   H   p   l   u   s   -   A   H
0000020   0   1   6   -   R   1   .   s   t   a   r  \t   T   H   p   l
0000040   u   s   -   J   R   0   3   6   -   R   1   .   s   t   a   r
0000060  \t   T   H   p   l   u   s   -   M   K   0   0   2

[2015-01-30 14:36] MikeDMorgan commented on #115
Okay, try putting the header row into the design file:
"track \t include \t group\t pair \n"

[2015-01-30 14:58] csandorfr commented on #115
I added header
It is changes nothing:

head design.tsv
track   include group  pair
THplus-NHDF1-R1.star   1       Ctr 0
THplus-OX119-R1.star   1       Ctr 0
THplus-AH016-R1.star   1       Ctr 0
THplus-JR036-R1.star   1       Case     0
THplus-MK144-R1.star   1       Case     0
THplus-MK002-R1.star   1       Case     0

 python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/scripts/runExpression.py

[2015-01-30 15:06] AndreasHeger commented on #115
Hi Cynthia,

what does the logfile say?

Can you try setting "1" as pair (not "0")
I am not sure, but I am worried that "0" somewhere
might be interpreted as a False value and the
samples not being included.

Best

On 01/30/15 14:58, csandorfr wrote:

[2015-01-30 15:13] csandorfr commented on #115
Hi Andreas,

I have same error:

head design.tsv
track   include group  pair
THplus-NHDF1-R1.star   1       Ctr 1
THplus-OX119-R1.star   1       Ctr 1
THplus-AH016-R1.star   1       Ctr 1
THplus-JR036-R1.star   1       Case     1
THplus-MK144-R1.star   1       Case     1
THplus-MK002-R1.star   1       Case     1

(cgat-venv)bash-4.1$ python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/scripts/runExpres

[2015-01-30 16:32] csandorfr commented on #115
I forget the log file

designs.dir/design_vs_genesetexons.feature_counts_stats.tsv.log

# output generated by /net/isi-scratch/cynthia/CGAT-DEPS/cgat/scripts/runExpression.py --method=summary --design-tsv-file=design.tsv --tags-tsv-file=feature_counts.dir/genesetexons.feature_counts.tsv.gz --output-filename-pattern=designs.dir/design_vs_genesetexons.feature_counts_stats_ --log=designs.dir/design_v

[2015-02-02 11:57] csandorfr opened #118 "pipeline_mapping issue with gsnap"
Hi,

I'm trying to run the pipeline mapping with gsnap:

/net/isi-scratch/cynthia/CGAT-DEPS/cgat/CGATPipelines/pipeline_mapping.py -v5 --local make mapReadsWithGSNAP

I have bam file empty and in the log bam file I have the following error:

Reading splicing file gsnap.dir/splicesites.iit locally...found donor and acceptor tags, so treating as splicesites file
splice distances present...555679 uni

[2015-02-02 12:03] AntonioJBT commented on #118
Hi Cynthia,
You may need to rebuild extensions (may be due to changes from pysam 0.8.1)?
If so, update changes to your repository and run:

python setup.py develop
python scripts/cgat_rebuild_extensions.py

and re-run the pipeline.
Antonio

On 02/02/2015 11:57, csandorfr wrote:

[2015-02-02 12:11] csandorfr commented on #118
I tried but I have this error:

python setup.py develop
running develop
running egg_info
writing requirements to CGAT.egg-info/requires.txt
writing CGAT.egg-info/PKG-INFO
writing top-level names to CGAT.egg-info/top_level.txt
writing dependency_links to CGAT.egg-info/dependency_links.txt
writing entry points to CGAT.egg-info/entry_points.txt
reading manifest file 'CGAT.egg-info/SOURCES.txt'
readin

[2015-02-02 17:15] TomSmithCGAT opened #120 "Automatic detection of adapter contamination for preprocessing"
Currently, the readqc pipeline can identify overrepresented sequences (FastQC) and remove them with various preprocessing tools (Trimmomatic, cutadapt, etc). However, it is up to the user to specify the sequences for the adapters.

Proposed solution within readqc:
1. Parse fastqc output to identify contaminating adapters (by name)
2. Use a dictionary of illumina adapters etc to convert to sequence

[2015-02-03 08:54] AndreasHeger commented on #118
@csandorfr, I think you pysam might be out-of-date - what version do you have installed (the latest is 0.8.1).

[2015-02-03 09:13] AndreasHeger commented on #115
It should say something like this:

[code]
Basically, the R pairs function is complaining that it can't plot a scatter matrix with only a single column
of data.

I still think there is a problem somewhere with the design matrix. I will add some more status messages
to help debugging.

[2015-02-03 14:52] csandorfr commented on #118
It works

I had this version of pysyam

0.8.0

I updated my version of pysam:

pip install pysam --upgrade

0.8.1

and rebuild my extensions:

python setup.py develop
python scripts/cgat_rebuild_extensions.py

Many Thanks

[2015-02-03 14:52] #118 closed

[2015-02-03 17:04] csandorfr commented on #115
Hi the output my log file seems now similar than you:

2015-02-03 17:01:59,861 INFO loading tag data from feature_counts.dir/genesetexons.feature_counts.tsv.gz
2015-02-03 17:01:59,861 INFO loading tag data from feature_counts.dir/genesetexons.feature_counts.tsv.gz
2015-02-03 17:02:00,899 INFO read data: 57773 observations for 6 samples
2015-02-03 17:02:00,909 WARNING missing samples from design fi

[2015-02-04 14:23] AndreasHeger commented on #115
Thanks. Not sure what is wrong, but I will add code to catch this exception. It is currently in travis.

[2015-02-04 17:28] AndreasHeger commented on #115
@csandorfr I have just added merged this - can you check out the latest version and retry?

[2015-02-04 19:21] csandorfr commented on #115
I updated my version but when I try to rebuild my extension I have the following error

unning develop
running egg_info
writing requirements to CGAT.egg-info/requires.txt
writing CGAT.egg-info/PKG-INFO
writing top-level names to CGAT.egg-info/top_level.txt
writing dependency_links to CGAT.egg-info/dependency_links.txt
reading manifest file 'CGAT.egg-info/SOURCES.txt'
reading manifest template 'MAN

[2015-02-05 09:35] AndreasHeger commented on #115
Hi Cynthia,

strange, _rnaseq_bams2bam.pyx is not part of my repository?

Best wishes,
Andreas

On 02/04/15 19:21, csandorfr wrote:

[2015-02-05 10:06] csandorfr commented on #115
Hi Andreas,

I just downloaded and updated again the all cgat pipeline

hg clone http://www.cgat.org/hg/cgat/ cgat

(cgat-venv)bash-4.1$ hg pull
pulling from http://www.cgat.org/hg/cgat/
searching for changes
no changes found
(cgat-venv)bash-4.1$ hg update
0 files updated, 0 files merged, 0 files removed, 0 files unresolved

ls -lt ./*pyx
-rw-r--r--. 1 cynthias cppgroup 10723 Feb  5 09:58 ./_rnase

[2015-02-05 10:08] AndreasHeger commented on #115
Hi Cythnia,

are you not using the github code?

The mercurial repository is very obsolete.

Best wishes,
Andreas

On 02/05/15 10:06, csandorfr wrote:

[2015-02-06 16:19] IanSudbery opened #126 "Conda install cgat-devel-lite"
Hi Guys,

I've been trying to install the cgat-devel-lite conda package.

First I create a conda environment with the cgat-devel-lite package in it:

[code]

then I clone the code base:

[code]

This all works fine. The problem comes when I try to compile the cloned code:

[code]

gives the following error

[code]

This can be fixed by doing

[code]

But that kind of defeats the object of using th

[2015-02-06 17:33] sebastian-luna-valero commented on #126
Hi Ian,

Have you enabled the conda environment:
[code]

before doing:
[code]

?

I have been looking at the `cgat-devel-lite` package and `seaborn` is not a direct dependency in there but in `cgatreport`. No sure whether this is a conda issue or not.

[2015-02-06 17:52] TomSmithCGAT commented on #84
A Counts.py module file had been created containing the functions from data2spike and the pandas-based load and filtering functions from Expression.py

counts2counts.py uses this module to filter counts tables or create spike ins from counts tables

Tests have been added for counts2counts

Further issue will be raised to:
1. Refactor pipelines which use runExpression.py as neccessary
2. Remove fil

[2015-02-06 17:52] #84 closed

[2015-02-06 17:58] TomSmithCGAT opened #129 "Refactor pipelines using runExpression.py to filter and remove data2spike"
Where pipelines use the filtering function of runExpression, this should be replace with counts2counts --method=filter
All the functionalities of data2spike.py are now contained in counts2counts --method=spike.
data2spike.py should be deleted and pipelines calling data2spike should be recoded.

[2015-02-06 18:57] IanSudbery commented on #126
Hi Sebastian

Yes, the environment was activated. I also noticed that when I tried to
install ipython, it didn’t install the correct dependencies either.

Ian

*From:* Sebastian Luna Valero [mailto:notifications@github.com]
*Sent:* 06 February 2015 17:33
*To:* CGATOxford/cgat
*Cc:* Ian Sudbery
*Subject:* Re: [cgat] Conda install cgat-devel-lite (#126)

Hi Ian,

Have you enabled the conda environme

[2015-02-09 09:32] TomSmithCGAT opened #130 "Refactor Expression.py and runExpression.py"
Currently, runExpression.py uses the Expression.py module to run differential expression tools including edgeR, DESeq as well as summarising counts tables and differential expression tables.

Expression.py contains many functions which rely upon r objects existing in the r namespace. For example, to run DESeq, loadTagData is called to create the following objects in the r namespace: countsTable, g

[2015-02-09 09:40] AndreasHeger commented on #130
Thanks, that is a great project!

On 02/09/15 09:32, Tom Smith wrote:

[2015-02-09 13:32] csandorfr opened #131 "mergeBAMfiles in pipeline_mapping"
I was wondering why the function mergeBAMfiles was removed in pipeline_mapping

python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/CGATPipelines/pipeline_mapping.py -v5 --local make mergeBAMFiles

 Target task 'mergeBAMFiles' is not a pipelined task in Ruffus. Have you mis-spelt the function name?

[2015-02-09 13:36] AndreasHeger commented on #131
mergeBAMfiles is only visible if the regular expresssion
telling which files should be merged are set:

[code]

Could this be the reason?

Best wishes,
Andreas

On 02/09/15 13:32, csandorfr wrote:

[2015-02-09 13:55] csandorfr commented on #131
Hi Andreas,

OK I should fill in pipeline.ini:

pattern_input=
pattern_output=

However I was wondering what function I have run with pipeline_mapping to just merge bam file and avoid to re-align my fasq file

Thanks

Cynthia

[2015-02-09 16:00] csandorfr commented on #131
Thanks

it works...

I added the parameters in my parameters.ini and I ran mergeBAMFiles

[2015-02-09 16:00] #131 closed

[2015-02-10 13:42] csandorfr commented on #115
I updated properly my version of CGAT pipeline with githup.

I reran the pipeline: pipeline_rnaseqdiffexpression.py

python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/CGATPipelines/pipeline_rnaseqdiffexpression.py --local -v5 make loadEdgeR

I a error when the pipeline run the function: runEdgeR

python /net/isi-scratch/cynthia/CGAT-DEPS/cgat/scripts/runExpression.py     --method=edger     --tags-tsv

[2015-02-13 14:30] csandorfr commented on #115
I updated my version of edgeR it works

[2015-02-13 14:30] #115 closed

[2015-02-13 14:34] csandorfr opened #138 "How to run DESeq2 with pipeline_rnadiffexpression.py"
Hi,

I would like use DESeq2 instead of DESEq with pipeline_rnadiffexpression.py. I was wondering what is parameter I should change.

Cynthia

[2015-02-13 15:06] jethrojohnson commented on #138
Hi Cynthia,

It should be possible to set the methods field in pipeline.ini to
deseq2.  Currently I would advise running the pipeline only to
loadDESeq2 (i.e. not to full), because the DESeq2 output has not yet
been modified to conform to the generic format required for the
downstream analysis.

Thanks

Jethro

On 02/13/15 14:34, csandorfr wrote:

--
Dr Jethro Johnson
CGAT Genomics Training Fellow

[2015-02-14 12:51] csandorfr commented on #138
Hi Jethro,

I don't find function loadDESeq2 but only loadDESEq in the pipeline_rnaseqdiffexpression.py. I updated my version of CGAT pipeline:

(cgat-venv)bash-4.1$ git pull
Already up-to-date

Thanks

Cynthia

[2015-02-14 13:08] jethrojohnson commented on #138
Hi Cynthia,

Apologies, my mistake, the function loadDESeq2 is currently on a separate git branch (JJTS-RefactorExpressionAndRunExpression), which hasn't been pushed to origin/master.

The function runDESeq2 should, however, be in your current code, since it has already been merged (9aa405c). You could therefore get the DESeq2 results directly from a flatfile (./deseq2.dir/*.feature_counts.tsv.gz)

[2015-02-16 12:42] csandorfr commented on #138
Hi Jethro,

It worked.

I was wondering if I want to use covariate as sex and age, how I should add this parameters for runDESeq2

Thanks

Cynthia

[2015-02-16 12:49] jethrojohnson commented on #138
Hi Cynthia,

First, you should be able to add additional columns to the design table
containing factor levels for your covariates.
Second, you should be able to add the model design (using standard R
syntax) to the deseq2_model field in the pipeline.ini file.
Finally, if you want to report all contrasts, then leave the
deseq2_contrasts field, blank. Otherwise you have to specify the
individual con

[2015-02-17 10:34] TomSmithCGAT commented on #130
After a discussion with Jethro, we've decided to make a class DEcaller in Expression.py with instances for each differential expression caller (edger, DESeq, DESeq2, TTest).

A pandas DataFrame of counts will be passed to the DECaller, along with the design file and parameter such as the reference name, model, contrasts etc.

The methods of the class will perform the following:
1. Parse the design

[2015-02-17 14:50] AndreasHeger commented on #130
Thanks, these are good suggestions, my thoughts are to separate parsing/algorithm/output/reporting.
This means, the DE class should accept the design (a Design class/a data structure), the model and the counts and return a standardized set of results. Maybe provide provisions for method specific QA plots and metrics.
Parsing a design table, standardized plotting, etc should be done in auxilliary c

[2015-02-17 15:06] TomSmithCGAT commented on #130
I agree this would make the code more reuable and clearer.

I've recoded the loadTagData and filterTagData functions in counts.py to methods for a "Counts" class. I've also made a "Design" class in Expression.py with associated methods to get attributes (e.g "has_replicates") from the design table, and a "DEExperiment" class in Expression.py to instantiate, modify and hold the Counts and Design ob

[2015-02-18 10:36] csandorfr opened #141 "different between feature_counts.dir/genesetexons.feature_counts.tsv.gz and gene_counts.dir/genesetexons.gene_counts.tsv.gz"
Hi,

These two read count file are make when I run pipeline_rnaseqdiffexpression.py loadDESeq

I was wondering what is the different between two file. I know that it is the first that is considered in DESeq analyses.

Thanks

Cynthia

[2015-02-18 10:42] jethrojohnson commented on #141
Hi Cynthia,

The difference is in the tool used to create the count tables passed to
DESeq.

The first file uses feature counts to create the count table, where as
the second uses the CGAT script gtf2table.
Any differences between these two files should be due to the parameters
passed to featureCounts, which can be specified in the pipeline.ini file.

If you are interested in how gtf2table is run,

[2015-02-19 18:30] sebastian-luna-valero opened #145 "does test_style.py really output all pep8 errors?"
Hi all,

I have been fixing pep8 errors in several scripts and I have noticed the following issue.

When running the command:
[code]

the following scripts do not output any errors, but when running pep8 locally the output is:

scripts/mali2kaks.py:
[code]

scripts/revigo.py:
[code]

scripts/optic/analyze_orthology.py:
[code]

Why is this?

Some of the errors are trivial, but others are not.

Best

[2015-02-19 22:28] IanSudbery commented on #145
We specifically ignore some pep8 errors.

We need to ignore "from x import *" errors because it is needed to use ruffus and CGATReport

We ignore "local variable assigned but never used" because we often use local variables in substitution strings that are substiuted by  % locals() or by the getCallerLocals() type functions in Pipeline.py and CGATReport.

We also ignore line length specifications

[2015-02-19 22:33] IanSudbery opened #146 "Documentation website"
Hi Guys,

Many of the tool references on the website are down because of a samtools change (The web pages just give a python error along the lines of 'module' has no attribute Fastafile in csamtools.)

I'm introducing people here to the code collection tomorrow, so it would be good if this worked.

Ian
---

[2015-02-20 15:55] AndreasHeger commented on #146
Sorry, bad timing. On leave until Monday. Make html should do the trick. Best wishes, andreas                                                                                                                                                                                                                                                                           Sent from my BlackBerry 10 smartphone on

[2015-02-23 11:23] AndreasHeger commented on #145
Hi all,

the script tests/test_style.py defines a list of pep8 codes and that are
being ignored:

[code]

Best wishes,
Andreas

n 02/19/15 22:28, Ian Sudbery wrote:

[2015-02-23 18:29] csandorfr opened #149 "edgeR pipeline_rnaseqdiffexpression.py"
By performing differential expression  by using the following design:

track   include group   pair
THplus-NHDF1-R1.star    1       Ctr     1
THplus-OX119-R1.star    1       Ctr     1
THplus-AH016-R1.star    1       Ctr     1
THplus-JR036-R1.star    1       Case    1
THplus-MK144-R1.star    1       Case    1
THplus-MK002-R1.star    1       Case    1

I got 1122 differential expressed gene with the

[2015-02-23 18:42] TomSmithCGAT commented on #149
Hi Cynthia,

By default, edger is currently set to run genewise generalised linear models with the model as ~countsTable$samples$groups. It looks like you've used Fisher's exact test below which I guess is the reason for the difference.

I'm actually in the process of re-writing our code for differential expression analysis with Jethro. One of the features we're going to add is more flexibility fo

[2015-02-24 10:59] csandorfr commented on #149
Hi Tim,

I tried with GLM and I don't have the same number of DE.

design.mat <- model.matrix(~  d$samples$group)
d2 <- estimateGLMCommonDisp(d,design.mat)
d2 <- estimateGLMTrendedDisp(d2,design.mat, method="power")
d2 <- estimateGLMTagwiseDisp(d2,design.mat)
fit <- glmFit(d2, design.mat)
de2 <- decideTestsDGE(lrt12, adjust.method="BH", p.value = 0.1)
summary(de2)
   [,1]
-1    40
0  22967
1     2

[2015-02-24 11:17] sebastian-luna-valero opened #150 "SSL Certificate in Conda"
Hi all,

There is currently an issue with Conda as explained here:
https://groups.google.com/a/continuum.io/forum/#!topic/conda/IAr9xTwOeC8

that is causing all Travis builds to fail.

I am waiting for a fix from the Conda team and will keep you up to date.

Best regards,
Sebastian.

[2015-02-24 12:59] AndreasHeger commented on #146
@IanSudbery

I have rebuilt the documentation and published it.

[2015-02-24 12:59] #146 closed

[2015-02-24 16:59] IanSudbery opened #151 "Sra.extract runs extraction locally"
I'm currently trying to run the mapping pipeline on some SRA files. The mapping pipeline appears to be configured to extract these files on the local machine. This means that

a) The process is going very slowly
b) I've been using 4 full cpus on the head node (despite there only being two SRA files??) for nearly 2 hours now.

[2015-02-24 17:06] AndreasHeger commented on #151
Thanks. @TomSmithCGAT , can you please have a look? It might be related to you introduction of the SRA module.

Note: SRA.exract should be SRA.extract in PipelineMapping.py?

[2015-02-24 17:08] IanSudbery commented on #151
I already fixed this: I’ll push a branch that Tom can work on.

*From:* Andreas Heger [mailto:notifications@github.com]
*Sent:* 24 February 2015 17:06
*To:* CGATOxford/cgat
*Cc:* Ian Sudbery
*Subject:* Re: [cgat] Sra.extract runs extraction locally (#151)

Thanks. @TomSmithCGAT <https://github.com/TomSmithCGAT> , can you please
have a look? It might be related to you introduction of the SRA module

[2015-02-24 17:13] IanSudbery commented on #151
Okay, I've now pushed a branch fixing_sra with that fix in

[2015-02-24 18:39] sebastian-luna-valero commented on #150
Hi all,

Thanks to the Conda team, the `requests` package has been updated to 2.5.3 and the SSL problem should be fixed now.

I have just restarted the latest Travis builds having problems with this.

Best regards,
Sebastian.

[2015-02-24 18:39] #150 closed

[2015-02-25 10:42] IanSudbery commented on #151
Also, because the extraction is done locally, it exacts to a local scratch and then submits to the cluster, which trys to read from the now none existant extracted fastq file.

As I see it, there are three options:
1) The fastq-dump lines need to be added to the mapping statement in the preprocess stage, rather than actually run at the time of compiling the mapping statement. If this is the case t

[2015-02-26 15:17] TomSmithCGAT commented on #151
The code in the sra module is essentially just a copy of what was previously in PipelineMapping. I don't think I changed the workflow for mapping from .sra files.

My thoughts:

1) Easy to implement - Just need to change line 472 in PipelineMapping.py
outdir = P.getTempDir() --> outdir = P.getTempDir(/ifs/scratch)

and make Sra.extract return a statement to be added to cmd_preprocess rather than r

[2015-02-26 17:04] AndreasHeger commented on #151
Thanks, @TomSmithCGAT

1)  avoid using /ifs/scratch or similar - use the mechanisms supplied by Pipeline.py. Otherwise your code will not be portable.

3) disk space is more precious to us than compute.

I think what @IanSudbery means that the extraction is part of the job subscript that is send to the cluster. This is how it used to be. The extract method uses P.execute() which will execute a com

[2015-02-26 17:07] IanSudbery commented on #151
Hi,

The difference between 1 and 2 is that in one, the temporary file is store
on the local scratch space on the node. This is more performant than
storing the files on /ifs/scratch. Indeed so much so that I believe the
fastq mappers actually copy the fastq file to the node before mapping them.

Ian

*From:* Andreas Heger [mailto:notifications@github.com]
*Sent:* 26 February 2015 17:04
*To:* CGAT

[2015-02-26 17:13] AndreasHeger commented on #151
Indeed. Avoid shared scratch unless absolutely necessary. Almost always use local scratch.

[2015-02-26 17:23] TomSmithCGAT commented on #151
@IanSudbery and @AndreasHeger. Thanks for the clarifications.

I take it from this all I need to do is make Sra.extract() return a statement when called from PipelineMapping to be included in the preprocess portion of the mapping statement. That way the resulting fastqs will be stored on the node scratch where and will be available for the downstream mapping?

I'll rename sneak to peek as well. It

[2015-02-26 18:02] IanSudbery commented on #151
Sounds like a suitable solution to me. Do you want me to implement it or
will you?

*From:* Tom Smith [mailto:notifications@github.com]
*Sent:* 26 February 2015 17:23
*To:* CGATOxford/cgat
*Cc:* Ian Sudbery
*Subject:* Re: [cgat] Sra.extract runs extraction locally (#151)

@IanSudbery <https://github.com/IanSudbery> and @AndreasHeger
<https://github.com/AndreasHeger>. Thanks for the clarifications.

[2015-02-26 18:08] TomSmithCGAT commented on #151
@IanSudbery I've done it. I'm Just checking it runs OK with one of my .sra files before I push it back

[2015-02-26 18:23] TomSmithCGAT commented on #151
@IanSudbery Another possible issue though. The preprocess statement standardises fastq files to +33 format for the downstream tools which either only accept +33 formatted fastqs (BWA) or default to +33 (Bowtie). Tophat and Tophat2 autodetect format. Not sure about GSNAP, STAR etc.

Should we detect the format from the first 1000 lines within the call to Sra.peek() and then add a call to fastq2fast

[2015-02-27 10:26] csandorfr opened #154 "pipeline rnaseqtranscripts issue with function buildTranscriptLevelReadCounts"
Hi,

I have some issues with pipeline rnaseqtranscripts

When I run:

/net/isi-scratch/cynthia/CGAT-DEPS/cgat/CGATPipelines/pipeline_rnaseqtranscripts.py -v5 --local make full

I have a issue with the function  buildTranscriptLevelReadCounts run. There are not count by gene transcript_counts.dir/*transcript_counts.tsv.gz. I have just the head of file

However when I run directly the command associ

[2015-03-10 19:17] sjackman opened #156 "error: 'AlignedSegment' is not a type identifier"
When I `pip install --upgrade cgat`, I get the error message `'AlignedSegment' is not a type identifier`. Here's the [complete gist](https://gist.github.com/sjackman/6f44ff96bf085973bfa4). Mac OS 10.10.1. Python 2.7.9. Dependencies installed using Homebrew.

[code]

[2015-03-10 19:17] sjackman commented on #156
I see the identical error on Linux (CentOS 5.10).

[2015-03-10 20:02] sebastian-luna-valero commented on #156
Dear Shaun,

Could you please make sure that you have the latest version of pysam
installed and try again?

Best regards,
Sebastian

2015-03-10 19:17 GMT+00:00 Shaun Jackman <notifications@github.com>:

[2015-03-10 23:15] sjackman commented on #156
I thought that `pip install --upgrade cgat` also upgrades dependencies. I'm confused why it did not. In any case, a `pip install --upgrade pysam` resolved that error. I have a new error now.

[code]

[2015-03-11 11:43] sebastian-luna-valero commented on #156
Dear Shaun,

That error should have been fixed by updating pysam as well. It seems like
your environment has not been cleaned up.

Have you followed our installation procedure for OS X?
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationOSX.html#cgatinstallationosx

If you continue having problems, and you just want to try out our code, may
I suggest that you try our alternat

[2015-03-11 15:55] IanSudbery commented on #151
@TomSmithCGAT If the call to sra is added early enough, can we not just use the same process that is used for fastq inputs?

[2015-03-11 16:00] TomSmithCGAT commented on #151
@IanSudbery

Yeah, that's what I did. Sra.peek() now also checks the format of the first fastq file and returns the format along with the fastq names. In PipelineMapping, the format is checked for "Sanger" and a call to fastq2fastq added to the mapping statement if required. The FixSRA branch has been merged back into master.

[2015-03-11 16:00] #151 closed

[2015-03-11 16:01] TomSmithCGAT commented on #120
@MikeDMorgan
This can be closed now, right?

[2015-03-11 16:27] MikeDMorgan commented on #120
The branch has been merged.  The current fix is a little rudimentary and will raise an AttributeError if there are no overrepresented sequences.  The ideal solution would be to simply pass over this function and ignore this paramter.  Not sure how to implement it without manipulating the PARAMs dict (bad) or using a global variable (also bad).

[2015-03-11 16:27] #120 closed

[2015-03-11 17:31] IanSudbery opened #157 "Installing cgat-devel-lite 0.1-np19py27_1"
Last time I pulled changes, installing gave me htslib errors. Reasoning this must be due to an pysam update, I updated by cgat-devel-lite with

[code]

This updated cgat-devel-lite from 0.1-np19py27_0 to 0.1-np19py27_1 and pysam from 0.8.1 to 0.8.2.

Running python setup.py develop gave the following compilation errors:

[code]

[2015-03-11 17:43] sebastian-luna-valero commented on #157
Hi Ian,

Are you doing this on RHEL6-based operating system or Ubuntu?

Could you please try:
$ export C_INCLUDE_PATH=$C_INCLUDE_PATH:"/usr/include/x86_64-linux-gnu"
$ export LIBRARY_PATH=$LIBRARY_PATH:"/usr/lib/x86_64-linux-gnu"

and then:
$ python setup.py develop

again?

Best regards,
Sebastian.

2015-03-11 17:31 GMT+00:00 Ian Sudbery <notifications@github.com>:

[2015-03-11 17:48] IanSudbery commented on #157
Hi Sebastian,

That did it! Any chance you could explain it to me: shouldn't conda environments be self contained?

Its Ubuntu. I keep meaning to switch to CentOS, but not getting round to it because the default desktops won't run in my virtual machine (lack of 3D acceleration).

Cheers

Ian
---

[2015-03-11 17:48] #157 closed

[2015-03-11 17:53] sebastian-luna-valero commented on #157
Hi Ian,

cgat-devel-lite (or cgat-scripts-lite) try to minimise the number of dependencies, therefore I left gcc explicitly out of them. It should not happen with cgat-devel (and cgat-scripts) though, but further testing would be necessary to confirm this.

I hope it answers your questions.

Many thanks for your feedback!

Best regards,
Sebastian.

[2015-03-12 19:31] sjackman commented on #156
A few comments on the OS X installation instructions.

`brew install gfortran` should be `brew install gcc` because

[code]

bedtools is in Homebrew. `brew install homebrew/science/bedtools`

Why is this step necessary `pip install -r requires.txt`?
Shouldn't `pip install cgat` handle dependencies?

Is this still true?

[2015-03-13 15:59] AndreasHeger commented on #145
I think this has been answered.

[2015-03-13 15:59] #145 closed

[2015-04-08 18:32] MikeDMorgan opened #165 "counts2counts.py requires --spike-keep-column-suffix"
Currently counts2counts.py requires the option `--spike-keep-column-suffix`.  If this option is not supplied there is no alternative behaviour that prevents errors downstream.

Proposed fix: if option not provided take suffixes from design matrix tracks as the default behaviour.

[2015-04-08 19:01] MikeDMorgan commented on #165
Spike-in behviour assumes pairs == 1 as rather than 0 as indicated in the documentation for unpaired designs.  Add in assert statement to handle unpaired data.

[2015-04-09 05:35] pengchy opened #166 "installation problems"
Following the installation instructions, I listed the command used to install CGAT:
[code]
However, when the installation hits the last step, I am stuck with the error
[code]

I have already installed the latest freetype version 2.5.5 and add the library path to the variable LD_LIBRARY_PATH at the beginning. However, this error still exist. The version 2.2.1 is installed by system administrator. I

[2015-04-09 08:23] AndreasHeger commented on #166
Hi Pengcheng,

this seems to be a matplotlib error - can you try installing matplotlib
separately?

Best wishes,
Andreas

On 04/09/15 06:35, pengchy wrote:

[2015-04-09 10:54] MikeDMorgan commented on #165
addendum to this issue - unexpected behaviour with spike will output all values outside of the specified range.

[2015-04-09 12:06] TomSmithCGAT commented on #165
@MikeDMorgan

I've been meaning to re-write counts2counts.py so this seems like a good time to start.

I opened a new branch and checked out your version of counts2counts.py from the MM-counts2counts_design_issue branch.

The workflow in counts2counts now uses the Counts and Design objects in Counts.py and Expression.py and should be a little clearer what it's doing.

The unexpected outputting of

[2015-04-10 16:47] sebastian-luna-valero opened #169 "undefined symbol: gzread"
Hi,

There is a problem with zlib when importing cython modules. Details here:
https://travis-ci.org/CGATOxford/cgat/jobs/57975045
https://travis-ci.org/CGATOxford/cgat/jobs/57975049

The common error message is: `undefined symbol: gzread`

I will look into this next week.

[2015-04-10 16:49] sebastian-luna-valero opened #170 "ImportError: No module named CGATPipelines.Local"
Hi,

The following test fail:
[code]

The error message is:
[code]

Details here:
https://travis-ci.org/CGATOxford/cgat/jobs/57975048

Could somebody please have a look?

Thanks!

[2015-04-10 16:51] sebastian-luna-valero opened #171 "ImportError: No module named CGATPipelines.PipelineTimeseries"
Hi,

Several tests fail in:
https://travis-ci.org/CGATOxford/cgat/jobs/57975046

with the same error message:
[code]

Could somebody please have a look?

Thanks!

[2015-04-10 16:52] sebastian-luna-valero opened #172 "ImportError: Building module CGAT._clusters2metrics failed"
Hi,

There is an error when compiling cluster2metrics:
[code]

Details here:
https://travis-ci.org/CGATOxford/cgat/jobs/57975046

Could somebody please have a look?

Thanks!

[2015-04-10 19:26] AndreasHeger commented on #170
Thanks, this has been fixed in 679aa0cc18ee84a6bc2164d394c6bdfe7487334d
Please reopen if it persists.
Best , Andreas

[2015-04-10 19:26] #170 closed

[2015-04-12 19:55] sebastian-luna-valero commented on #171
Thanks Mike and Andreas!

Fixed with commit 85cc5d0

[2015-04-12 19:55] #171 closed

[2015-04-12 19:59] sebastian-luna-valero commented on #172
Should not this extension be compiled along with the other cython modules with `python setup.py develop`?

[2015-04-12 20:13] sebastian-luna-valero commented on #169
I had to include our gcc (version 4.8.3) package in Conda to solve this problem. Also I updated the environment variables for gcc compilation in commit bca54ff

[2015-04-12 20:13] #169 closed

[2015-04-13 07:32] AndreasHeger commented on #172
Indeed. And as a consequence the include paths are not set correctly. Cython extensions should be separate sub-packages (see Component). I will refactor.

[2015-04-13 08:07] AndreasHeger commented on #172
fixed by e560f527aedda4069bdd481f4aec1224c7743ad1

[2015-04-13 08:07] #172 closed

[2015-04-27 07:47] TomSmithCGAT commented on #129
Done

[2015-04-27 07:47] #129 closed

[2015-05-01 09:58] jethrojohnson opened #177 "fasta2table.py -- na columns don't sum correctly"
For example:

cat DUMMY.fasta

TACGGAAGGTCCGGGCGTTATCCGGATTTATTGGGTTTAAAGTGATCGTATGCCGGGTTTTACGCGTGCCGTAAAATGTCTGGGCTCATCCTTGACACTGCTTCTCGAACTGGAGTCCTTGAGTGCGCGGAACGTATGCGGAATTCGTGGTGTAGCGGAGAAATGCGTAGATATCACGAAGAACGACGATTGCGAAGGAAGAAGAAGGGAGCGCTAATGACGCTGAAGCTCGAAGGAGAGGGTATCGAAAAGG

NNNNNAGGATCCGAGCGTTATCCGGATTCATTGGGTTTAAAGGGTGCGTAGGTTGTTTTTTATTTTAGCGGTGAAATACCTTTGCTCTTCTTCGGGGCTGCCTCTGATACTGTA

[2015-05-01 10:37] jethrojohnson commented on #177
Simply an issue the columns and column headers being written out in different orders.

[2015-05-01 10:37] #177 closed

[2015-05-06 17:24] TomSmithCGAT opened #179 "Add Database-based filtering to gtf2gtf.py"
The latest ENSEMBL GTFs have the gene_biotype information stored in as an attribute. Previously this was also included in column 2 ("source"). There are occasions when we want to filter a GTF which no longer contains the gene_biotype attribute, for example after passing through Cuffdiff to add p_id and tss_ids.

Furthermore, the current method searches for the filter tag, e.g "protein_coding" in t

[2015-05-06 17:28] TomSmithCGAT commented on #179
@AndreasHeger I've implemented this in a simple form on the branch TS-AddDatabaseBasedFilteringToGtf2gtf. Currently, the script expects the database table to contain columns "gene_id" and "gene_biotype". I think we might also like to add the option to specify the attribute columns to extract so that "transcript_biotype" etc could be extracted also.

Could you take a look at my implementation and s

[2015-05-06 18:47] AndreasHeger commented on #179
Sorry, I have not been clear. What I meant is that filtering by gene_id is already possible in gtf2gtf. So the solution is to write a table with gene_ids of a certain attribute set to file and then call gtf2gtf. Thus the solution is on a user level.

Scripts should not need database access. We don't want to proscribe users to use a particular database schema or implementation. Database access requ

[2015-05-06 22:33] RadeshNMP opened #180 "psl2stats.py - output genomic coverage from psl formatted alignments"
Hello,

I wish to use only this script psl2stats.py is there a easy way to use the script or do I have to install the whole cgat package.

Please let me know what kind of output will be generated by this script.

I have installed the conda environment but am not sure how to proceed further to download the script psl2stats.py

Thank you
Radesh NMP

[2015-05-07 08:25] TomSmithCGAT commented on #179
@AndreasHeger  Ah, OK. I confess I'm not really up to scratch on databases yet so I hadn't considered all that.

In that case, could you delete the branch and I'll make the neccessary changes to pipeline_mapping.py.

Cheers

[2015-05-07 08:25] #179 closed

[2015-05-07 08:39] AndreasHeger commented on #179
Thanks, apologies for the extra work. Unfortunately the design principles of our code base are mostly implicit, but should be made explicit.

[2015-05-07 11:53] sebastian-luna-valero commented on #180
Hello,

Could you please try the following steps?
[code]

After that, you should be able to run:
[code]

and get a help message on how to run the script.

Best regards,
Sebastian.

[2015-05-13 17:49] IanSudbery opened #181 "bam_vs_bed with unsorted bed files"
bam_vs_bed assumes that bed files are sorted. If they arn't then an error is caused when intersectBed is run. However, this error isn't caught, and bam_vs_bed returns without errror. This means that when run in a pipeline, the task can fail without anyone being the wiser.

[2015-05-15 16:42] IanSudbery opened #182 "Incorrect output from fasta2table"
Fasta to table has been output the incorrect values for it composition reporter. For example, see this output from the nosetest:

id            |nUnk|nG    |nA    |nT    |nC    |nN    |nGC   |nAT|pG      |pA      |pT      |pC      |pN      |pGC     |pAT
--------------|----|------|------|------|------|------|------|---|--------|--------|--------|--------|--------|--------|--------
contig-0      |0

[2015-05-16 15:08] jethrojohnson commented on #182
Hi Ian,

Sorry, I thought I'd fixed this (see issue #177), but obviously I forgot to merge the changes. From memory, the SequenceProperties.py is also used by gtf2table.py, so I think you need to change the test files for this script as well.

Thanks

jethro

[2015-05-18 15:24] IanSudbery opened #184 "counts2counts tests"
Two of the counts2counts tests: normalise_million_counts and normalise_deseq_size_factors are failing, even on the master branch. This would appear to be due to the answers suddenly being to a different number of dp from the reference files.

Has the version of something (R, DeSeq, pandas?) changed. Is this to do with #165 and @TomSmithCGAT 's rewrite of counts2counts.py. Should I countinue to sub

[2015-05-18 15:27] TomSmithCGAT commented on #184
Hi Ian,

Are you using Python 2.7.9? We were having issues with differences in precision due to python version.

Tom

________________________________
From: Ian Sudbery [notifications@github.com]
Sent: 18 May 2015 16:24
To: CGATOxford/cgat
Cc: Thomas Smith
Subject: [cgat] counts2counts tests (#184)

Two of the counts2counts tests: normalise_million_counts and normalise_deseq_size_factors are faili

[2015-05-18 18:11] IanSudbery commented on #184
Hi @TomSmithCGAT yeah, 2.7.9.

[2015-05-18 18:20] IanSudbery commented on #182
Cheers Jethro, you are quite right, although this was hidden under all the other errors that Travis is currently throwing.

[2015-05-26 16:56] IanSudbery opened #186 "Expression.py and matplotlib on cluster machines"
Hi All,

Running any task which uses Expression.py on a machine that does not have X11 support, such as a cluster machine gives the following error:

[code]

This is due to the matplotlib backend trying to create X11 objects. I am currently testing a solution that will use a different matplotlib backend (the "Agg" backend). Does anyone see any reason why this shouldn't be okay?

[2015-05-26 17:41] AndreasHeger commented on #186
Hi Ian,

yes, setting the backend in matplotlibrc to Agg is what I usually do if
I run plotting commands on the cluster. Ideally the backend could be set
at runtime, but unfortunately that is tricky - there used to
be a strict sequence of imports which of course would need to be
followed by every module importing matplotlib as you never know which
module gets imported first.

Ciao,
Andreas

On 26/

[2015-05-26 17:50] IanSudbery commented on #186
Hi @AndreasHeger

The problem is that some of our modules now import pylab even if they aren't doing any plotting.

In Expression.py i'm trying setting the backend to agg before the pyplot or ggplot import:

[code]

Is there a reason I shouldn't do this?

[2015-05-26 17:56] AndreasHeger commented on #186
No. Any superfluous imports should be removed, pylab is one of them.

The problem with this that I can foresee is that our scripts will
not work on any system without Agg. Nor does it allow somebody to plot
in svg, eps, pdf, etc. Thus the backend needs to be set-able from the
commandline, which is probably as much hazzle as setting it in
matplotlibrc and have the matplotlib engine initialize itsel

[2015-05-29 09:06] IanSudbery commented on #186
@AndreasHeger I think read somewhere that agg is installed as part of matplotlib as standard. By the way, it would be good if we could do this on CGATReport as well (or specifically cgatreport-test). Occasionally I need to test trackers without an X11 session.

[2015-05-29 10:15] IanSudbery opened #187 "Installation woes"
Hi Guys,

I'm trying to get the tools install on a students ubuntu laptop and I'm having all sorts of issues. Perhaps @sebastian-luna-valero can help?

First he tried the manual installation, and went through installing all the depedencies and then tried to install cgat but got caught by the

[code]

error, which it seems that is a problem for several people and normally related to pysam version.

[2015-06-02 19:17] AndreasHeger opened #188 "Mysql connection options breaks runGO.py"
Adding mysql options to CSV2DB.py breaks runGO.py. Possibly problems in other scripts as well.

[2015-06-02 19:19] AndreasHeger commented on #187
Thanks. I will release a new version of the CGAT script collection next week which should synchronize pysam and cgat code. In the future, I think we should always release a new CGAT script version whenever there is a new pysam.

[2015-06-02 19:33] AndreasHeger commented on #186
Thanks, @IanSudbery . However, the problem is that setting the backend to Agg will always override user choice. Using command line options might not be feasible in plotting that happens in modules.
Maybe we should wrap matplotlib so that a check is performed if plotting is possible and on exception sets the backend to Agg.
I will look into this as well.

[2015-06-03 12:57] IanSudbery opened #189 "bam_vs_bed: split alignments"
bam_vs_bed currently treats alignments as starting at the start location and continuing to the end location, irrespective of if the alignment is split (/spliced).

Adding split to the bedtools intersect call will treat the two halfs of aligment as seperate intervals, and thus will not count towards anything in the spliced out region. However, this would mean the read might be counted twice.

Sugge

[2015-06-05 13:38] sebastian-luna-valero commented on #187
Hi Ian,

For the manual installation of the CGAT scripts, please try pysam 0.8.1 while Andreas release a new version of the CGAT script collection.

Regarding Conda, I have repeated the installation both on SL 6 and Ubuntu 12.04 by following the instructions here:
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationLinux.html#automated-installation

In both cases I did:
[code]

[2015-06-05 16:57] IanSudbery commented on #187
Hi Sebastian,

To install with conda I simply did:

[code]
as decribed at https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationLinux.html#installation-with-conda

In the end we now have this working by manually installing and then cloning the lastest code version from github.

Yours,

Ian

[2015-06-05 16:57] #187 closed

[2015-06-09 11:17] IanSudbery commented on #184
Any progess on this anyone? @TomSmithCGAT ? @sebastian-luna-valero ?

[2015-06-09 12:30] AndreasHeger commented on #189
Thorough counting in an RNA-seq context will be hard without redesigning the counting from scratch.

In the meantime, we can enable the option to "--split" - and add to the documentation that this might cause one read to be counted multiple times.

[2015-06-09 14:07] #189 closed

[2015-06-09 16:06] sebastian-luna-valero commented on #187
Hi Ian,

I am sorry for that, the integration with other Conda environments has not been tested thoroughly. On the other hand, I would use the following steps instead (and I will update the docs):
[code]

That is done when using the script:
[code]

I hope that helps!

Best regards,
Sebastian.

[2015-06-12 22:35] yanzhangusa opened #190 "cgat could not run after actived"
After I installed full version in google VM, I actived it and when I type cgat --help, I got following error message:

(cgat-python)yan_zhang_sra_com@sra-yan-test:/home/yanzhangusa_gmail_com/MOUNT_POINT/isb
-cgc/cgat$ cgat --help
Traceback (most recent call last):
  File "/usr/local/bin/cgat", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packag

[2015-06-12 22:42] yanzhangusa commented on #190
reinstall using pip install cgat, got following error:

x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fno-st
rict-aliasing -D_FORTIFY_SOURCE=2 -g -fstack-protector-strong -Wformat -Werror=format-s
ecurity -fPIC -Ialignlib_src -I/usr/include/python2.7 -c alignlib_lite.cpp -o build/tem
p.linux-x86_64-2.7/alignlib_lite.o
cc1plus: warning: command line option '-Wstri

[2015-06-15 09:26] sebastian-luna-valero commented on #190
Hi yanzhangusa,

Could you please post the installation steps you followed?

Best regards,
Sebastian.

[2015-06-16 20:27] yanzhangusa commented on #190
I think it is because that I did not install biopython. After I installed biopython, it works fine.

[2015-06-16 20:28] yanzhangusa commented on #190
great program. Like it.

[2015-06-17 08:27] sebastian-luna-valero commented on #190
Thanks!

[2015-06-17 08:27] #190 closed

[2015-06-19 08:34] IanSudbery commented on #184
Okay, so the baseline tests have now been updated, count2count tests passing.

[2015-06-19 08:34] #184 closed

[2015-06-24 15:24] osvaldocnio opened #195 "bam2geneprofile 'RangeCounterBAMBaseAccuracy instance has no attribute 'getTotal''"
hi there!

I am just doing my first trials with bam2geneprofile and I am facing a problem that I cannot solve. I would like to show you, please, what the program returns, maybe you have an explanation for that.

The command I've run is:

cgat bam2geneprofile -b SCR_Pol_II_Total_sorted_without_DUP.bam -c SCR_Input_10_sorted_without_DUP.bam --gtf-file=gencode.vM5.annotation.gtf --method=geneprofilew

[2015-06-30 14:10] IanSudbery commented on #195
We also saw this problem. PR incoming....

[2015-06-30 14:11] AndreasHeger commented on #195
Thanks, how far are you, I just completed it.

[2015-07-01 08:38] AndreasHeger commented on #195
Thanks. I will come with a more complete match for the other RangeCounters.

[2015-07-01 10:26] #195 closed

[2015-07-29 11:06] IanSudbery commented on #182
Fix with PR #183

[2015-07-29 11:06] #182 closed

[2015-08-03 11:16] #90 closed

[2015-08-03 12:58] IanSudbery opened #202 "bam2stats memory usage"
Hi All,

DIdn't know whether to raise this as an issue here or in CGATPipelines. I'm currently processing an RNAseq experiment with nearly 200 million reads. This made bam2stats fall over, not just on the node, but also on cgat150 where there was 96GB of memory free.

The code that is using the RAM is lines 112-124 of  _bam2stats.pyx:

[code]

 Where a dictionary of read positions is sorted.  I kn

[2015-08-04 12:18] IanSudbery commented on #202
I split the file in half and reran it. It used 23GB for 98M reads.

[2015-08-05 09:46] #93 closed

[2015-08-06 12:09] bede opened #203 "Installation fails on Mac OS 10.10"
I can't install cgat on my one-month-old Mac OS 10.10 installation. I've followed [OS X install instructions](https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationOSX.html) to the letter, among other things. I use Homebrew anyway, and the only thing which springs to mind as being a cause is the recent version of pip I'm using (7.1.0)

Whatever I try throws egg-related errors.

[2015-08-11 11:56] AndreasHeger commented on #202
The fastq file is necessary for the paired-end counting. If it is single end, the fastq option is not necessary and then the memory usage should be small - this could be parameterized in a pipline.

Memory usage could also be optimized by using some sort of mangling for read names - using the full read name is wasteful.

[2015-08-11 14:37] IanSudbery opened #205 "Cannot compile extensions"
I'm trying to setup cgat as a reproducible, sharable environment on our cluster.

I've installed the cgat-devel conda environment, but if I now run

[code]

or

[code]

I get the following error:

[code]

This is really odd, because if I launch python and run any of import statements above, it works fine.

[code]
This is apparently a known issue with the current conda libreadline package. See
Cont

[2015-08-11 15:08] IanSudbery opened #207 "rpy2 version in cgat-devel-lite conda package"
Conda package cgat-devel-lite installs rpy2 2.4.4, but running `python setup.py develop` requires 2.6, and attempts (and fails) to install it.

[2015-08-11 17:25] sebastian-luna-valero commented on #207
Hi Ian,

Many thanks for pointing that out.

I have updated now cgat-deve-lite, could you please try that again?

Best regards,
Sebastian.

[2015-08-11 17:26] sebastian-luna-valero commented on #205
Hi Ian,

What is the OS you are running on?

Which version of GCC are you using?

Best regards,
Sebastian.

[2015-08-11 18:21] IanSudbery commented on #205
Hi Sebastian,
Its Scientific Linux 6.5, gcc 4.4.7. At first I thought I'd solved this problem by using the cgat-devel-lite package, but I came across it again. I got around it by uninstalling the libreadline conda package and relying on the OS library. It seems that the conda libreadline is compiled without ncurses, which rpy2 needs. See the anaconda issue linked above.

[2015-08-11 19:15] IanSudbery commented on #205
It appears that readline is being installed by the CGATReport package, which still isn't functional - I had to clone the repository and run the setup to get it working.

[2015-08-12 08:38] AndreasHeger commented on #202
Hi Ian, I have imlemented the name mangling. Please let me know if it improves things. Note that there might be some inconsistencies now if two reads get the same hash, but this should be rare.
Best wishes,
Andreas

[2015-08-12 08:38] #202 closed

[2015-08-12 12:27] AndreasHeger commented on #186
Hi @IanSudbery, I had a bit of a look around, but it seems there is no good solution that would work in both scripts and modules.

I think the best option is to never use "matplotlib.use" but instead set the backend in the rc file. I have a script that does this for me:

[code]

Unfortunately, this is only a global setting, so if you want to have interactive plotting while at the same time plottin

[2015-08-12 12:42] AndreasHeger commented on #203
Thanks. This seems to be a problem with installing the MySQL-python module.
Can you try this independently?
[code]

[2015-09-01 16:07] #205 closed

[2015-09-02 17:33] izzi-13 opened #209 "Redirecting stdin to file in bam2fastq"
Hi,
Just to let you know, there's an issue with providing a -I option to bam2fastq: the script still seems to try to read from stdin, without warning, meaning that it appears to hang.
Thanks!
Isabel

[2015-09-02 19:16] TomSmithCGAT commented on #209
Thanks Isabel. I'll look into this.

[2015-09-08 10:02] AndreasHeger opened #212 "CGAT vcf2vcf.py misses the last variant in the input VCF"

[2015-09-15 12:49] TomSmithCGAT commented on #209
This should now be sorted in master. See: 94a1ce68266171a3ad17edfc4027b36557688aa3

[2015-09-15 12:49] #209 closed

[2015-10-08 15:04] jaime11 opened #220 "dump MemoryError on R version 3.2.2 (2015-08-14) -- "Fire Safety""
Hello,

Running on LSB Version:	:base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graphics-4.0-noarch:printing-4.0-amd64:printing-4.0-noarch
Distributor ID:	Scientific
Description:	Scientific Linux release 6.5 (Carbon)
Release:	6.5
Codename:	Carbon

10GB RAM machine.

I get the following error whether executing
*python setup.py develop*
or
*python setup.py develop -

[2015-10-09 11:04] sebastian-luna-valero commented on #220
Hi,

It seems that setup.py is using your locally installed R:
[code]

instead of the R provided with Conda (the one used to install rpy2).

So there seems to be a conflict. Could you please make sure that you enable your conda environment before `python setup.py develop`

Best regards,
Sebastian.

[2015-10-09 11:19] jaime11 commented on #220
Hello,

Thank you for the help.

*conda uninstall rpy2*

and

*conda install rpy2*

Still get the same error.

Thanks again.

[2015-10-09 11:51] sebastian-luna-valero commented on #220
Hi,

Can you please try to re-install `cgat-devel` following these steps?
[code]

Please note the **conda-install/bin/activate** part when doing `source`.

Now you should be able to use the command-line tool, by typing:
[code]

I hope it helps.

Best regards,
Sebastian.

[2015-10-14 12:57] MikeDMorgan opened #222 "bed2bed.py --extend missing arguments"
Error raise on use of the --method=extend option of bed2bed.py:

Traceback (most recent call last):
  File "/ifs/devel/michaelm/cgat/scripts/bed2bed.py", line 614, in <module>
    sys.exit(main(sys.argv))
  File "/ifs/devel/michaelm/cgat/scripts/bed2bed.py", line 602, in main
    processor = extendInterval(processor, contigs, options.offset)
TypeError: extendInterval() takes exactly 2 arguments (3

[2015-10-15 10:40] TomSmithCGAT opened #224 "peptides2cds removed from cgat/scripts but still in use!"
@AndreasHeger c31ff92742 removed cgat/scripts/peptides2cds.py. This scripts is still being used by CGATPipelines/CGATPipelines/PipelineGeneset.py (https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/PipelineGeneset.py#L528). Unless the script has been renamed somewhere, I'll "un-remove" it

[2015-10-15 21:08] AndreasHeger commented on #224
Sorry, please restore.

Best wishes,
Andreas

On 15/10/2015 11:40, Tom Smith wrote:

[2015-10-20 10:43] TomSmithCGAT commented on #224
Pull request submitted for branch Ts_restore_peptides2cds

[2015-10-20 10:43] #224 closed

[2015-11-02 10:04] AndreasHeger opened #226 "gtf2gtf.py"
Potential issue:

"gtf2gtf.py is ignoring some exons where there is overlap between genes on opposite strands when merging gene models"

Could be related to sort-order of input file.

[2015-11-04 15:21] snsansom commented on #226
For example:

zcat /ifs/mirror/annotations/mm10_ensembl78/ensembl.dir/geneset_all.gtf.gz
       | egrep "ENSMUSG00000097924|ENSMUSG00000039578"
       | python /ifs/devel/stephens/cgat/scripts/gtf2gtf.py --method=sort
       | python /ifs/devel/stephens/cgat/scripts/gtf2gtf.py --method=merge-transcripts --with-utr

gives:

chr6    havana  transcript      61310855        62380264        .       +

[2015-11-09 14:56] AndreasHeger commented on #226
Thanks, the problem is the --with-utr option, which together with the merge-transcripts method truncates transcripts at their CDS. In fact this whole arrangement was confusing. I have added two
methods:
[code]

[2015-11-16 10:55] #226 closed

[2015-11-16 16:43] #222 closed

[2015-11-16 16:44] AndreasHeger commented on #220
Seems to be resolved, closing for now. Please reopen if necessay.

[2015-11-16 16:44] #220 closed

[2015-11-16 16:51] AndreasHeger commented on #212
The original message was:

[code]

Unfortunately I can't reproduce this:
[code]

Closing for now - please reopen if problem persists.

[2015-11-16 16:51] #212 closed

[2015-11-16 16:51] AndreasHeger commented on #180
Seems to be resolved, closing for now.

[2015-11-16 16:51] #180 closed

[2015-11-16 16:57] AndreasHeger commented on #156
Apologies, the thread has become quiet. In theory you are right, except for some dependencies such as pysam that need to be present during the first invocation of setup.py in order to obtain
the location of include and library files. In practice a separate step makes sure that all is there.

Another benefit of `pip install -r requires.txt` is that it separates the installation of the dependencies

[2015-11-16 17:12] AndreasHeger commented on #181
Thanks, I have made --sort-bed the default and added an --assume-sorted option to restore the previous default behaviour.

Best wishes,
Andreas

[2015-11-16 17:15] AndreasHeger commented on #166
Closing for now.

[2015-11-16 17:15] #166 closed

[2015-11-16 17:15] AndreasHeger commented on #203
Closing for now.

[2015-11-16 17:15] #203 closed

[2015-11-16 17:16] AndreasHeger commented on #186
Closing for now, please reopen if a solution presents itself.

[2015-11-16 17:16] #186 closed

[2015-11-16 17:17] #181 closed

[2015-11-16 17:24] AndreasHeger commented on #188
Probably because it has been resolved elsewhere, but the following works:
[code]

Closing for now.

[2015-11-16 17:24] #188 closed

[2015-11-18 10:31] bede commented on #203
Hi Andreas, I'm sorry for the delay. Yeah I'm still getting the issue with `MySQL-python`.
Have you seen this before?

[code]

[2015-11-23 12:09] TomSmithCGAT opened #231 "testing asana integration"
testing testin
65854453167256/67654751152349

[2015-11-23 12:09] TomSmithCGAT commented on #231
0/65854453167256/67654751152349

[2015-11-23 12:10] TomSmithCGAT commented on #231
@0/65854453167256/67654751152349

[2015-11-23 17:06] TomSmithCGAT commented on #231
testing testing
https://app.asana.com/0/65854453167348/68252701137361

[2015-11-24 16:13] IanSudbery opened #232 "compilation error after lastest pull"
Hi,

When trying to update extensions after the latest pull, I get the following error:

[code]

I think this looks like a pysam error.
pysam is version 0.8.3 via the cgat conda channel.

Cheers,

Ian
---

[2015-11-25 09:52] sebastian-luna-valero commented on #232
Hi Ian,

Try adding the bioconda channel and updating your conda installation:
[code]

Best regards,
Sebastian

[2015-11-25 10:27] IanSudbery commented on #232
Thanks sebastian. Should I be using bioconda *instead* of cgat? Is all the cgat stuff now in bioconda?  I noicte when I do this that I'm getting cgat's r-lite rather than r from bioconda for example.

[2015-11-25 10:39] sebastian-luna-valero commented on #232
Hi Ian,

Thanks for your feedback.

Please use both of them. I have to think about how to split conda packages between those repositories.

Regarding R, I am now using the R specific channel as well:
https://conda.anaconda.org/r

and that is where future CGAT packages will be pointing to.

Best regards,
Sebastian.

[2015-11-26 12:00] IanSudbery commented on #232
Hi @sebastian-luna-valero ,

I thought you might like to know that doing a `conda update --all` updates bx-python. This bx-python update requires a new numpy version, but for some reason, this isn't installed. You get this error when you build the cgat extensions:

[code]

You get this from any script that uses bx.

If you uninstall bx-python and reinstall it, the new version of numpy is installed

[2015-11-26 14:12] sebastian-luna-valero commented on #232
Hi Ian,

Thank you very much. I was working on this earlier this week but got distracted with other important issues.

You are certainly right. I had to update the ggplot package which was built with numpy 1.9 and that was causing the problem. The tests passed locally and I am now rebuilding on Travis to check.

Best regards,
Sebastian.

[2015-11-26 14:47] sebastian-luna-valero commented on #232
Thanks again, that fixed it.

Best regards,
Sebastian.

[2015-11-26 14:47] #232 closed

[2015-12-09 10:33] #231 closed

[2015-12-09 10:35] TomSmithCGAT commented on #130
counts2table.py can now perform differential expression using the object-orientated framework outined above. Time now to make the pipelines use counts2table.py etc...

[2015-12-09 10:35] #130 closed

[2015-12-09 10:36] TomSmithCGAT commented on #138
I assume this can be closed?..

[2015-12-09 10:39] TomSmithCGAT commented on #165
@MikeDMorgan I assume this can be closed now?

[2015-12-09 10:41] #165 closed

[2015-12-09 13:49] csandorfr commented on #138
Yes we can close this issue.

Cynthia

[2015-12-09 13:49] #138 closed

[2015-12-14 18:10] #207 closed

[2015-12-15 14:50] #98 closed

[2015-12-15 14:52] IanSudbery commented on #86
I have implimented this functinality into Pipeline.

ini files or .cgat can now contain queues for parrellel jobs.

[2015-12-15 14:52] #86 closed

[2015-12-15 14:52] #126 closed

[2015-12-21 11:01] MikeDMorgan opened #238 "gtf2gtf.py --merge-transcripts name hardcoded"
Currently gtf2gtf.py automatically sets the transcript_id to "merged" for the merge-transcripts/exons/introns method.

Add a flag that allows the use of the parent gene_id instead.

[2015-12-24 15:17] alvizain786 opened #240 "Trouble installing CGAT on BioLinux Ubuntu 14.04"
Dear Sir or Madam,

I hope this reaches you well. I am trying to install CGAT on my BioLinux Ubuntu 14.04 workstation. I was wondering what would be the best strategy on installing it as BioLinux already comes with a lot of tools.

I have been able to install pysam and pip.

Unfortunately, I am not able to install through the provided CGAT script as it does not allow me go through with the Ubuntu

[2016-01-06 13:57] MikeDMorgan commented on #238
resolved with commit 25552a59ec37733fcd5c45836277da93adc51eea

[2016-01-06 13:57] #238 closed

[2016-01-06 16:05] TomSmithCGAT opened #241 "bam2bam --set-nh method gives incorrect NH tag for paired end"
The --set-nh method for bam2bam should identify the number of instances of a read within a bamfile. The common use case is after alignment with BWA which doesn't add the NH tag.

When the reads are paired end and the read names are the same (e.g no "/1" or "/2" suffixes), the _bam2bam.SetNH gives counts both paired ends as alignments of the same read and assigns NH:i:2 to both (see below). Presuma

[2016-01-15 15:01] MikeDMorgan commented on #241
Bump - this causes issues for pair-end ChIP-seq and ATAC-seq data.

[2016-01-15 15:31] MikeDMorgan commented on #241
Suggested fix:
check if alignedSegment is proper paired  (AlignedSegment.is_proper_pair), if True reduce NH = NH -1, this should set both pairs as _bam2bam.SetNH does not differentiate between pairs.

[2016-01-15 17:22] TomSmithCGAT commented on #241
Isn't it possible for a read pair to align to more than one location "properly"? I think the best solution would be for _bam2bam.SetNH() to use the "first in pair"/"second in pair" flag as well as the read name when tallying reads. This would mean a read pair with a single "proper" alignment would both get NH=1, whereas a read pair with two "proper" alignments would get NH=2 etc. I may be getting

[2016-01-18 18:08] breichholf opened #244 "Building 0.2.4on osx using pip fails"
Ran in to some problems related to pysam-developers/pysam @AndreasHeger
[code]
Then, at some point, later on during `pip install cgat`:
[code]
Similar errors occur during cythoning of `_bam2bam.pyx`, `_bam2bed.pyx`, `_bam2geneprofile.pyx`, all originating with `KSEQ_INIT`, but there they only throw errors and don't break during cythoning.

[2016-01-19 09:02] breichholf commented on #244
FWIW, pip install from the git repo worked fine.

[2016-01-19 10:34] IanSudbery commented on #244
The github code refers to `Fastxfile`, rather than `Fastqfile`.

pysam 0.8.4 exports `FastxFile` and `FastqFile` (note the capitals) python classes, but I don't know about the C classes.

This suggests that indeed the code on pip was not updated properly for the lastest version of pysam.

@sebastian-luna-valero - any ideas on this?

[2016-01-19 10:39] breichholf commented on #244
Yeah, I thought as much. At least according to the release notes of pysam 0.8.1 the old Fastqfile-API is still available and marked as depricated. I haven't looked at the code, but either it was completely removed until 0.8.4, or something's off there.

[2016-01-19 10:41] sebastian-luna-valero commented on #240
Hello,

Indeed, we are not testing our code on Ubuntu 14.04 yet, as 12.04 is still supported.

I will have a look though as I am interested in that as well.

Meanwhile, could you please try to run our code using docker?
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationDocker.html

That should help you use the code without having to install the dependencies.

Best regards,
S

[2016-01-31 05:32] tiagobrc opened #246 "Error when trying to install cgat via pip"
Here is my log error of the instalation. I already installed all dependencies. And in the end I still get this error. I read everything but could not find anything that could be solved by this.

Can someone give me a hint of what os going on? Thank you for your support.

    tiago@tiago:~$ sudo pip2.7 install cgat
    The directory '/home/tiago/.cache/pip/http' or its parent directory is not owned

[2016-02-01 09:44] IanSudbery commented on #244
Did you ever sort this? My suggestion is that after installing all the dependencies via pip, you clone and install the code github.

Let me know if you need any help with that.

[2016-02-01 09:49] IanSudbery commented on #246
This is the same problem as #244.
The problem is that the pysam 00.8.4 is being installed, but the code on pypy hasn't been updated to account for that.
I suggest that you either use the conda installation method, or clone the code from github and install manually.

From an appropriate directory:
[code]

You can delete the downloaded directory afterwards.

@sebastian-luna-valero Anything to add?

[2016-02-01 10:00] breichholf commented on #244
Yes, thanks!. I installed cgat through git using `pip install git+https://github.com/CGATOxford/cgat` after checking making sure that the dependencies were up to date, that seemed to work fine. I haven't checked the pysam codebase to see if the deprecated API calls were removed, however.

[2016-02-01 10:19] IanSudbery commented on #246
Over on #244 Brian found that

[code]

after install the dependencies did the job.

[2016-02-01 16:43] sebastian-luna-valero commented on #246
Hi both,

Looks good to me, thanks @IanSudbery

Please find the documentation here:
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallation.html#cgat-code-clean-installation

Either Conda, Docker or Vagrant might help you get started with the CGAT code.

Best regards,
Sebastian.

[2016-02-01 16:45] sebastian-luna-valero commented on #244
Thanks both,

There are specific instructions on how to install the CGAT code on OSX:
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallationOSX.html

However, it might need an update as well.

I was working on the conda installation for OSX but then got distracted with other tasks.

[2016-02-01 16:48] IanSudbery commented on #244
Hi Sebastian,

The problem here seems to be that the code on PyPy is sufficiently behind
that on GitHub that it no longer works with the current versions of the
dependencies (the main culprit, surprise, surprise, being pysam).

*From:* Sebastian Luna Valero [mailto:notifications@github.com]
*Sent:* 01 February 2016 16:45
*To:* CGATOxford/cgat
*Cc:* Ian Sudbery
*Subject:* Re: [cgat] Building 0.2.4o

[2016-02-02 13:39] MikeDMorgan opened #247 "Extend BED interval to specific size"
Currently bedtools features and bed2bed.py do not have a feature to extend/clip intervals to a specific size.  This may be a requirement for some third-party tools, for instance the MEME-suite of programs expect sequences to be of the same length.

Suggestion:  allow a --set-interval size option that iteratively pads and/or clips intervals to the specific length.

Possible solutions:

- Take the s

[2016-02-08 16:18] AndreasHeger commented on #247
Hi Mike, this makes sense, but could this be solved through some bedtools /awk combination, i.e., select midpoint of each interval and then use bedtools slop?

[2016-02-09 16:13] MikeDMorgan commented on #247
Thanks Andreas, I agree about the midpoint intervals.  I'm struggling to think of an awk/bedtools combo that would allow one to extend only in one direction and retain a specific size interval.

[2016-02-10 19:33] AndreasHeger commented on #247
@MikeDMorgan, I probably don't have the full picture, but bedtools slop can extend upstream or downstream only depending on strand (-l -r -s options)?

[2016-02-11 13:05] MikeDMorgan commented on #247
Thinking about it, I'm not sure you even need to use bedtools, maybe just an awk 1-liner would do it.  Something like:

For 3' slopping:
cat mybed.bed | awk '$2 = $3 - 500'

For 5' slopping:
cat mybed.bed | awk '$3 = $2 + 500'

[2016-02-17 16:47] AndreasHeger commented on #247
except you need to be careful at chromosome boundaries, which is the extra bit that bedtools slop does.

For motif search you might also worry about gaps/N's in the sequence?

[2016-02-20 08:49] pescobar opened #250 "pysam 0.8.4 not working"
Hi

As defined in the requirements file I installed  pysam-0.8.4
https://github.com/CGATOxford/cgat/blob/master/requires.txt#L19

But then I get this error when trying to compile
[code]

I found that this problem is because pysam has renamed TabProxies to ctabixproxies in release 0.8.4 so file TabProxies.so is no longer available in pysam-0.8.4. The change is described in the pysam release notes
h

[2016-02-22 09:53] IanSudbery commented on #250
This suggests to me that the version of CGAT you are using is not fully up
to date. How are you installing CGAT?

*From:* Pablo Escobar Lopez [mailto:notifications@github.com]
*Sent:* 20 February 2016 08:49
*To:* CGATOxford/cgat
*Subject:* [cgat] pysam 0.8.4 not working (#250)

Hi

As defined in the requirements file I installed pysam-0.8.4
https://github.com/CGATOxford/cgat/blob/master/requires.t

[2016-02-22 10:19] pescobar commented on #250
I installed it doing ```pip install cgat``` inside a python virtual env

I think I am using the latest release 0.2.4

[code]
[code]

[2016-02-22 10:33] IanSudbery commented on #250
Yes, your not the first person to have problems with the pip install and pysam 0.8.4.
There are three options:
1) Unless you need pysam 0.8.4 for anything else, there shouldn't be any problem running pysam 0.8.3

However, if you wish to use pysam 0.8.4, you could either:
2) Install via conda
3) clone the code from Github and use that.

@sebastian-luna-valero Can we make sure the pypy copy of the c

[2016-02-22 10:37] pescobar commented on #250
thanks, I will keep using pysam-0.8.3 in the virtualenv where I installed cgat

I think anyone following this documentation would hit the same problem than me
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallation.html#manual-installation

[2016-02-25 17:57] nuin opened #251 "Fails to install"
[code]

[2016-02-26 10:28] IanSudbery commented on #251
Hi There,

Can you tell me which version of python you are using? This sort of error could be caused by using python 3.x. CGAT is currently only compatible with 2.7.x ( @sebastian-luna-valero: this doesn't appear to be documented anywhere)

you can find which version of python you have by starting a python interpreter:

[code]
You should still be able to install cgat.

I'm guessing that you are us

[2016-02-26 11:17] IanSudbery opened #252 "Code version on PyPy not compatible with listed dependencies"
This is issue combines the several others with the same problem ( #250, #246, #244, #156). This is that the version of the code on PyPy, which was is the last official release, doesn't work with the dependencies listed in the documentation, specifically pysam 0.8.4.

Although deep inside the documentation it is suggested that installation with pip is no longer support, the front page encourages pe

[2016-02-26 11:17] IanSudbery commented on #250
This issue has been consolidated with several others on issue #252, please see there for further developments.

[2016-02-26 11:17] #250 closed

[2016-02-26 11:18] IanSudbery commented on #246
This issue has been consolidated with several others on issue #252, please see there for further developments.

[2016-02-26 11:18] #246 closed

[2016-02-26 11:18] IanSudbery commented on #244
This issue has been consolidated with several others on issue #252, please see there for further developments.

[2016-02-26 11:18] #244 closed

[2016-03-01 16:43] sebastian-luna-valero commented on #252
I agree, we should update the code on PyPI.

I have created an account but I do not have permissions to update the CGAT code. I will ask for help.

[2016-03-01 16:53] sebastian-luna-valero commented on #251
Hi,

Indeed, it is assumed that Python 2.7 is the version to use and the documentation should reflect that.

On the other hand, Docker should work on Mac:
https://docs.docker.com/engine/installation/mac/

Please try and let us know.

Best regards,
Sebastian.

[2016-03-02 16:21] nuin commented on #251
It seems the problem is on this particular machine where I am trying to install. I am resetting my python installation and try again.

Thanks

[2016-03-02 16:21] #251 closed

[2016-03-14 11:17] sebastian-luna-valero commented on #252
A new version of the code has been uploaded to PyPI so that should hopefully solve these problems.

[2016-03-14 11:24] #240 closed

[2016-03-14 11:25] #252 closed

[2016-03-17 15:51] tallulandrews opened #256 "Installation issue"
I'm trying to install a copy of cgat locally for myself on a shared computing cluster ie:
pip install -install-option="--prefix=~/PythonPackages" cgat

However I get the following error (the same occurs if I follow the instructions for manual installation) :

"Downloading/unpacking cgat
  Running setup.py egg_info for package cgat
    Traceback (most recent call last):
      File "< string >", lin

[2016-03-18 18:13] sebastian-luna-valero commented on #256
Hi Tallulah,

What's the output of these commands:
[code]

Best regards,
Sebastian.

[2016-03-22 17:22] tallulandrews commented on #256
/nfs/users/nfs_t/ta6/PythonPackages/cgat-python/bin/python

/nfs/users/nfs_t/ta6/.local/lib/python2.7/site-packages/:/nfs/users/nfs_t/ta6/PythonPackages:/nfs/users/nfs_t/ta6/RNASeqPipeline/software:/nfs/users/nfs_t/ta6/RNASeqPipeline/software/usr/local/lib/python2.7/dist-packages/:/usr/local/lib/python2.7/dist-packages/:/nfs/users/nfs_t/ta6/PythonPackages/lib/python2.7/site-packages/:/nfs/users/nf

[2016-03-23 10:11] sebastian-luna-valero commented on #256
Hi,

I would try upgrading pysam first:
[code]

and check that you are running that version (0.8.4):
[code]

Then, try reinstalling the cgat code.

If that option does not work either, I would try:
[code]

Best regards,
Sebastian.

[2016-04-28 15:28] JunHuang023 opened #263 "Installation issue"
I was trying install cgat,but ran into problem like this:

$ pip install cgat
Collecting cgat
  Downloading CGAT-0.2.5.tar.gz (557kB)
    100% |████████████████████████████████| 563kB 213kB/s
Requirement already satisfied (use --upgrade to upgrade): setuptools>=1.1 in ~/anaconda2/lib/python2.7/site-packages/setuptools-20.3-py2.7.egg (from cgat)
Requirement already satisfied (use --upgrade to upgra

[2016-04-28 15:31] JunHuang023 commented on #263
sorry, typo. I meant I am not a sophisticated bioinformatician...

[2016-04-29 18:18] sebastian-luna-valero commented on #263
Hello,

There seems to be a problem with your R/rpy2 installation.

Could you please have a look at our alternative installation instructions?
https://www.cgat.org/downloads/public/cgat/documentation/CGATInstallation.html#cgat-code-clean-installation

Best regards,
Sebastian.

[2016-04-30 15:55] JunHuang023 commented on #263
Dear Sebastian,
Thank you for your kind help.
I think that I resolved the issue by reinstall R with the configuration " --enable-R-shlib".
but now I have another issue of usage:
$ cgat bed2gff.py < H3K27ac_MBDCKOprec_peaks.bed > H3K27ac_MBDCKOprec_peaks.gff
Traceback (most recent call last):
  File "~/anaconda2/bin/cgat", line 11, in <module>
    sys.exit(main())
  File "~/lib/python2.7/site-packa

[2016-05-11 13:28] MikeDMorgan commented on #247
Revisitng this.  It turns out the documentation for bedtools slop is inaccurate.  It states that -l _removes_ from the start of the interval, when it clearly just extends _or_ subtracts depending on the usage.

[2016-05-11 13:28] #247 closed

[2016-05-13 13:38] sebastian-luna-valero commented on #263
Not sure what's the root cause of the problem. Please double check that your `PYTHONPATH` is pointing to the correct `site-packages` folder.

On the other hand, I see that you are using anaconda. If that is the case, you could also try:
https://anaconda.org/cgat/cgat-scripts

[2016-05-13 13:38] #256 closed

[2016-06-17 17:46] TomSmithCGAT opened #274 "SRA extract fails for SOLID data"
When a .sra file contains SOLID data, fastq dump extracts a single fastq instead of a fasta and separate quality file as required for some downstream tools (e.g Tophat2). Propose adding option to use abi-dump to SRA.py and auto-detecting datatype in SRA.peek()

[2016-06-17 18:05] TomSmithCGAT commented on #274
Could someone sanity check the commits on branch https://github.com/CGATOxford/cgat/tree/TS-handleSolidDataFromSra please.

[2016-08-09 20:39] osuchanglab opened #285 "fasta2kmercontent proportions gives division by zero"
When I run the fasta2kmercontent script with the `--output-proportion` option, I sometimes get a division by zero error. For example, when I run:

`cat ../references/*.fna | cgat fasta2kmercontent --kmer-size 4 --output-proportion`

I get the error message:

`Traceback (most recent call last):
  File "/usr/local/bin/cgat", line 9, in <module>
    load_entry_point('CGAT==0.2.5', 'console_scripts',

[2016-08-09 21:23] osuchanglab commented on #285
Solved it, the problem was that some of the the input fasta sequences were lowercase text ("atcg", etc). Changing these sequences to all uppercase allowed the code to run correctly. This can be accounted for in the fasta2kmercontent script by either converting the input sequence to uppercase (python's `string.upper()`) or define groups for the nucleotide characters ("Aa", "Cc", etc)

[2016-08-09 21:23] #285 closed

[2016-09-07 17:04] #263 closed

[2016-09-15 07:42] nickilott opened #289 "gtf2gtf.py failing tests locally"
As the title suggests I have come across gtf2gtf.py failing multiple tests locally. They are concerned with the "intersect_transcripts_with_utr" tests. I'm not sure why this would be as the master appears to be passing and I have made no changes to this script locally?

[2016-09-15 16:26] sebastian-luna-valero commented on #289
Hi Nick,

Getting errors here as well. Digging a bit deeper, when I manually run the `rename_gene` test, the first line of the reference file is:
[code]

whereas the first line of the gtf2gtf output is:
[code]

So the information is the same but the order of the columns are different which causes the checksum to be different, and thus the error.

However, I do not know why this is happening provid

[2016-09-15 21:20] AndreasHeger commented on #289
Hi all,

this is a pysam issue. I fixed a bug that preserves the order of GTF
fields. I think this is pysam 0.9.4.

Best wishes,
Andreas

On 15/09/2016 17:26, Sebastian Luna-Valero wrote:

[2016-09-15 22:54] nickilott commented on #289
Sorry, maybe I'm not understanding. So this means the reference in the tests is incorrect and needs replacing? Did you mean pysam 0.9.1.4 (this is what I have installed)?

[2016-09-16 07:50] sebastian-luna-valero commented on #289
Many thanks, Andreas!

That explains it!

Travis/Conda is using pysam 0.8.4 (that will be fixed once we merge the master with the `AH-Python3Compatibility` branch) while locally we are using pysam 0.9.1

Once that has been done, you are right Nick, we'll have to update the reference files in the tests.

Let's leave this open as a reminder.

[2016-09-16 13:16] AndreasHeger commented on #289
Thanks, I already changed it in the py3 branch.

Best wishes,
Andreas

On 16/09/16 08:50, Sebastian Luna-Valero wrote:

[2016-09-19 14:41] nickilott opened #290 "Issues with deseq2ParseResults in Expression.py"
deseq2ParseResults does not process results correctly when there are more than two groups in the design file i.e. this code is in the runDESeq2 function for combining multiple contrasts

[code]

deseq2ParseResults only takes the first two conditions from the global "groups" variable and therefore when it comes to labelling treatment_name and control_name in the outputs it is always the same two fr

[2016-09-20 14:27] sebastian-luna-valero commented on #290
Many thanks @nickilott

Could you please open a proper pull request so we all can review changes?

[2016-09-20 14:57] sebastian-luna-valero commented on #289
I have had the gtf2gtf test errors with the latest pysam on branch `NEI-debugLCA` here:
https://travis-ci.org/CGATOxford/cgat/jobs/161307641#L1790
https://travis-ci.org/CGATOxford/cgat/jobs/161307656#L1929

Just to let you know that I have updated the test files for gtf2gtf to pass the tests on that branch, and seems to work:
https://travis-ci.org/CGATOxford/cgat/builds/161336590

So I am going to

[2016-09-20 14:57] #289 closed

[2016-09-21 08:28] nickilott commented on #290
Yes will do this now. Thanks

[2016-11-02 16:58] ejduncan opened #293 "gtf2gtf - not selecting longest transcript?"
I am wanting to extract the longest transcript for each gene from a gtf file (or gff3 file).  I have installed cgat gtf2gtf  and have tried using various parameters to do this using Drosophila melanogaster r6.12.gtf.  It pulls out a single transcript for each gene, but not necessarily the longest transcript (e.g. ocm-RB is selected, yet it is shorter than ocm-RA and GlyS-RA is selected when it is

[2016-11-09 18:26] Charlie-George opened #295 "rnaseq_diffexpression.py SCRUM - runExpression.py"
With the rearrangement of pipeline_rnaseqdiffexpression.py in the RNA Seq SCRUM - some of the code in Expression.py has become obsolete/no longer within the scope of the module. the reliance on runExpression.py has been transferred to counts2table.  pipeline_windows.py also uses functions from Expression.py via runExpression.py.

We need to think of the best way to organise/avoid this:
The functio

[2016-12-09 11:25] MikeDMorgan opened #299 "Fastq2Fastq QUAL score range bug"
In reference to 'CGATOxford/CGATPipelines issue #265', fastq2fastq checks for quality scores in the expected range of values up to _but not including_ the maximum possible value.

[2016-12-10 12:11] #299 closed

[2016-12-15 14:56] IanSudbery opened #301 "Conda installation broken"
Hi All,

Conda installation isn't working for us at the moment. If I do:

[code]

The installation gets stuck at

[code]
CPU usage sits at 100% for as long as I let it - i've left it up to 8 hours with no progress. I've also tried it on three different machines now, one with Ubuntu, one on scientific linux 6 and one on CentOS 7.

I'll post over at conda as well to see if they have anything to say.

[2016-12-16 14:44] sebastian-luna-valero commented on #301
Hi Ian,

Sorry for that, I am actually working on a new conda package.

Are you using Miniconda for Py27 or Py35?

Meanwhile, could you please try:

[code]

which is what I use here:
https://github.com/CGATOxford/cgat/blob/master/install-CGAT-tools.sh#L287

The dependency resolution algorithm in Conda goes crazy from time to time when new dependencies are added to the channels that you are subscri

[2017-01-23 10:29] #149 closed

[2017-02-03 16:15] IanSudbery commented on #301
Hi Sebastian,

This worked for a while, but now this command hangs indefinitely, while not overriding the channels doesn't. However we get some funny versions of things install if we don't override channels: an old pysam version and an old sphinx version. Currently we install cgat-dev without overriding channels, and then uninstall and reinstall sphinx and pysam. This time we do override channels.

[2017-02-03 17:27] sebastian-luna-valero commented on #301
Hi Ian,

Sorry to hear that.

I am moving away from our own `cgat` channel and adopting `bioconda` and `conda-forge` channels instead.

Could you please try:
[code]

Please note that I am also updating the package names (i.e. `cgat-scripts-devel` replaces `cgat-devel`, I will give more details soon).

The command above should pick up the correct python version that you have installed.

Please let

[2017-03-13 12:11] IanSudbery opened #316 "Confusion/Documentation with IndexedFasta.getSequence"
I have naively assuming that IndexedFasta.getSequence(contig, "-", start, end) would return the reverse complement of the sequence between contig:start..end. But this is only the case if the obscure `mConverter` attribute of the IndexedFasta object is set to a coordinate system that includes "both" in its name (e.g. ` fasta.setConverter(IndexedFasta.getConverter("zero-both-open"))` ).

If the conv

[2017-03-13 16:24] AndreasHeger commented on #316
Hi @IanSudbery , sorry about this. The reason for the default conversion is our comparative genomics past and follows exonerate output and UCSC practice for some formats such as the chain format, which uses reverse strand coordinates for the reverse strand.

Changing the default should be fine, but indeed will need some thought. I can put it on my todo list.

[2017-03-13 16:28] IanSudbery commented on #316
No worries. It hasn’t been a major bug this time, but I did wonder how many
other people have made this mistake without realizing it. I was only
investigating it to work out why 5 of my 10 primer pairs didn’t work. One
supposes that this sort of thing could get buried deep inside a pipeline
and no one might find the error until after something had been published
(if ever!).

[2017-03-14 21:41] jscaber opened #317 "Deprecated Functions in Annotations_Pipeline & New Ensembl Notation"
I have rerun the annotations pipeline on the newest annotations.
There are some new changes in the recent ensembl releases: Whereas the GTF still has "ENSPXXX" notation, the .pep. file and the .cdna. file now have transcript/protein notation with a suffix: "ENSPXXX.1" etc. Because there are multiple steps at which these tables are combined we need to find a solution to this:
Options:
- Remove ".1"

[2017-03-14 22:00] AndreasHeger commented on #317
Hi @jscaber , thanks, taking these out is fine - they were mostly useful for gene-prediction tasks and comparative genomics, not so much our focus now.

[2017-03-15 08:53] sebastian-luna-valero commented on #317
Many thanks @jscaber and @AndreasHeger !

[2017-03-15 08:53] #317 closed

[2017-03-27 19:21] mebbert opened #321 "Need to update install instructions on cgat.org"
Hi,

Thank you for supporting CGAT. Just passing my experience along. I spent a couple of hours trying to get CGAT installed according to the cgat website, using `pip install cgat`, etc. I couldn't get anything to work. I finally tried cloning the repository, and it worked great.

I'm on Mac OS Sierra 10.12.3, 2016 MacBook Pro.

[2017-03-27 20:27] Acribbs commented on #321
Thanks for the comment.

What were the specific errors you were encountering?

I had the same issue yesterday with getting the code to install using `pip install cgat` on my MacBook Pro too. However, after installing pysam and Boost by `sudo port install boost` it seemed to work.

[2017-03-27 21:15] Acribbs commented on #321
Hi @AndreasHeger, I have been looking at trying to recreate the problem I got yesterday with the installation and I have encountered a problem that I didn't notice before. In a clean environment, When I install the latest version of pysam with `pip install pysam`, pysam v0.10.0 is installed (although the install. However when I try to install cgat with `pip install cgat` the install fails with
`(t

[2017-03-27 21:16] mebbert commented on #321
I ran into several issues, but the one I couldn't get past was "Error compiling cython file." I kept assuming it must have been a conflict in the python libraries (e.g., pysam, cython, numpy, etc.) between the standard Mac OS install and my `user` install. The `virtualenv` didn't help. Ultimately, I'm guessing it had to do with versioning. I saw there was an issue with pysam 0.8.4. I have 0.10.0 a

[2017-03-31 15:39] AndreasHeger commented on #321
Hi, I have not update cgat yet to use the latest pysam version 0.10.0, this could be an issue and explains why it might be necessary to pin to 0.9.1.4.

[2017-04-05 13:12] IanSudbery commented on #316
@AndreasHeger

Okay, there are still some weird things going on here.

GTF.py assumes that you have not set the converter and does some gymnastics with interval co-ordinates to get around that (It does these wrong BTW, the co-ordinates are off-by-one, so if you do GTF.toSequence on a transcript, the first base of the transcript is missing).

This means you can't open a fasta and use it both to con

[2017-04-07 21:50] mebbert opened #324 "Feature request: ignore secondary alignments (at least for bam_vs_bed)"
Hi,

I've only used a couple of your tools a few times, but it would be helpful to have an option in bam_vs_bed to ignore secondary alignments. I'll take a peek at the code and see if I can do it real quick, otherwise I'll just remove them from my bams.

Thanks!

[2017-04-07 21:53] mebbert opened #325 ""total" alignments is less than "protein_coding""
Hi,

I'm using `bam_vs_bed` to quantify the number of reads that are aligned to different transcript types (RNASeq) using a bed file where the ID is a gencode gene_type. The output for one sample is below. The apparent issue (unless I'm missing something) is that the "total" count is an order of magnitude less than the count for "protein_coding".

Thanks!

[2017-04-10 13:47] AndreasHeger commented on #325
Thanks, I will have a look. The counts come bedtools, while the "total" value comes from the BAM file and is the number of (mapped) alignments.

[2017-04-10 15:57] AndreasHeger commented on #324
Thanks, unfortunately that is not easily done. The script is very simplistic and simply runs bedtools multiple times and bedtools itself does not permit flag-filtering of the bam-file. The script could pre-filter, generating a temporary file, but I think that is best done by the user in order to avoid unexpected complications such as 60Gb of /tmp being filled up for a large BAM file.

[2017-04-26 15:23] jscaber opened #328 "gtf2gtf sorting"
I have  have noticed that sorting by gene and transcript requires each of the entries to have both a "transcript_id" and a "gene_id". This can be a bit frustrating. For example the annotations pipeline requires all genes to be grouped first into gene_ids and then transcript_ids, but the sorting fails because feature == "gene"  entries do not have a transcript_id.

I wonder whether the sorting shou

[2017-04-26 16:03] IanSudbery commented on #328
A GTF file that has entries without a transcript_id field is not a valid
GTF.

See: http://mblab.wustl.edu/GTF22.html

GTF files do not have gene entries. Are you sure you are not working with a
GFF3 file?

[2017-04-26 16:07] jscaber commented on #328
Yes, correct - it was labeled as GTF but is probably a GFF.
No need for such sorting then. Closed.

[2017-04-26 16:07] #328 closed

[2017-05-02 09:39] jscaber opened #329 "annotations_pipeline: gene_biotype vs gene_type"
Should the annotations pipeline be able to handle both gtfs with a gene_type and gene_biotype annotation? At the moment only gene_biotype is supported. Gene_type is ignored and the biotype is fetched from the source column instead.

At the moment the following code exists in gtf2gtf:
`if "gene_biotype" not in gff.attributes:
gff.setAttribute("gene_biotype", gff.source)`

Should we be able to handl

[2017-05-03 07:56] sebastian-luna-valero commented on #329
Hi @jscaber

Have you had a look at https://github.com/CGATOxford/CGATPipelines/pull/323

[2017-05-08 10:52] AndreasHeger commented on #316
Hi @IanSudbery , sorry about this. The reason for the default conversion is our comparative genomics past and follows exonerate output and UCSC practice for some formats such as the chain format, which uses reverse strand coordinates for the reverse strand.

Changing the default should be fine, but indeed will need some thought. I can put it on my todo list.

[2017-05-11 08:52] sebastian-luna-valero opened #331 "extract_stats: error: no such option: --database-port"
Hi @MikeDMorgan

When I test `pipeline_scrnaseqqc` I get the following error:
[code]

Could you please have a look?

Best regards,
Sebastian

[2017-05-11 09:21] MikeDMorgan commented on #331
Crap, sorry, I pushed the TimeSeries.py bug fix on the wrong branch.  I'll make a PR to fix this.

[2017-05-12 10:40] sebastian-luna-valero commented on #331
Thanks @MikeDMorgan !

[2017-05-23 08:55] sebastian-luna-valero commented on #331
Many thanks @MikeDMorgan !

The fix is running fine on our standard software setup. However, when I create a conda environment to run `pipeline_testing`, I get:
[code]
Please note that the conda environment is not in production yet, so feel free to close this issue if the error is not important.

[2017-05-23 15:47] MikeDMorgan commented on #331
Is that the full traceback @sebastian-luna-valero?  It looks like the error might be in pandas perhaps?

[2017-05-23 15:56] sebastian-luna-valero commented on #331
Hi @MikeDMorgan

You're absolutely right. Here is the full traceback:
[code]

Sorry for not including that earlier and please let me know your thoughts.

Best regards,
Sebastian

[2017-05-23 16:02] MikeDMorgan commented on #331
I guess there is a difference in pandas versions between the CGAT system and the conda env?  This is present in pandas 0.17.1.

[2017-05-23 16:08] sebastian-luna-valero commented on #331
Indeed, in the conda env I have pandas 0.20.1

[2017-05-23 16:15] MikeDMorgan commented on #331
OK, then it doesn't make sense!  It's documented in 0.20.1 and 0.17.1 with the same type and default.

[2017-05-23 16:26] sebastian-luna-valero commented on #331
Just in case it is helpful: It's not only pandas that is running an updated version in the conda env, actually that will be the case for most of the dependencies.

[2017-05-23 17:55] MikeDMorgan commented on #331
The function arg (mangle_dupe_cols) from read_table() that's causing the error is in all versions since at least 0.15.0, so the error really doesn't make sense:
http://pandas.pydata.org/pandas-docs/version/0.15.0/generated/pandas.read_table.html

[2017-05-24 08:27] sebastian-luna-valero commented on #331
Thanks @MikeDMorgan

Will close the issue for now.

[2017-05-24 08:27] #331 closed

[2017-06-15 14:21] IanSudbery commented on #301
@sebastian-luna-valero

I tried the new conda installation instruction and we ran into a problem were we got the following error:
[code]

Comparing the offending environment to my environment i saw that the version of rpy2 was older (2.7.8 was installed on the new environment, my environment had rpy2 2.8.5) . upgrading to rpy2 2.8.5 solved the issue.

[2017-06-19 08:59] sebastian-luna-valero commented on #301
Thanks @IanSudbery

Indeed, I need to update the conda package (bioconda has recently [changed](https://github.com/bioconda/bioconda-recipes/pull/4972)). In the meantime the work around is to enforce R-3.3.1 for the installation (please see https://github.com/CGATOxford/cgat/commit/b179bf5e6562f56cf579feaad9be1f9a676f77bd)

[2017-06-20 14:54] Acribbs opened #335 "Broken pipes"
I have been getting some very strange pipe errors. I initially observed this error when I was using gft2tsv and then piping the stdout for a database load statement in a pipeline I am writing. However, after some further investigations there seems to be a more generic issue with the stdout.

When I pipe the output from cgat gtf2tsv into `tail` everything looks fine. However pipe to `head` and I ge

[2017-06-20 15:37] sebastian-luna-valero commented on #335
Hi Adam,

While we figure that out, could you please add `2> /dev/null` after the `cgat` command, like this:
[code]

Reference:
https://stackoverflow.com/questions/26692284/brokenpipeerror-in-python

[2017-06-20 15:55] Acribbs commented on #335
Thanks sebastian,

This fixes the error with the broken pipe in this instance.

[2017-06-20 19:10] MikeDMorgan commented on #335
Hi Adam,
As a point of reference, whenever a cgat script/pipeline is run, but not completed, such as for head, then I believe it returns an exit value != 1, ergo it detect it as an error during IO.  You’d get the same thing if you run a pipeline with `show | less`, and quite part way through.  You don’t get it for tail as the entire script/file is read and only the last n lines are printed to stan

[2017-06-21 08:30] AndreasHeger commented on #335
Mikes answer is correct. I think there is an ignore_pipe_errors options
or similar somewhere where you do need to a head (not sure if it
considers the pipefail setting we recently added).

Best wishes,
Andreas

On 20/06/17 20:10, MikeDMorgan wrote:

[2017-06-26 08:13] sebastian-luna-valero commented on #335
Many thanks @MikeDMorgan @AndreasHeger

@Acribbs could you please try the `ignore_pipe_errors` option? Here is an example of how can be used:
https://github.com/CGATOxford/CGATPipelines/blob/master/CGATPipelines/pipeline_windows.py#L2213

[2017-06-27 09:35] Acribbs commented on #335
Having identified that this is related to a pysam issue I will close this issue.

[2017-06-27 09:35] #335 closed

[2017-06-27 12:30] IanSudbery commented on #301
Thanks

On Mon, 19 Jun 2017, 9:59 am Sebastian Luna-Valero, <
notifications@github.com> wrote:

[2017-06-27 18:29] Charlie-George opened #341 "pipeline_testing -"
I'm testing the peakcalling pipeline with the py3 environment, each pipeline seems to run individually now and I've pushed those changes, but I get the following error when it comes to the checksums - has anyone else come across it before? @sebastian-luna-valero @AndreasHeger
``
## 2017-06-27 19:14:02,518 INFO running statement:
#                               cat test_peakcallingSEbroad.stats | c

[2017-06-27 18:34] AndreasHeger commented on #341
This is a py3 issue, I have a fix for this that I need to push.

[2017-06-27 19:49] AndreasHeger commented on #341
... actually already pushed, could you please git pull --rebase?
Hopefully this will be fixed.

[2017-06-28 09:22] Charlie-George commented on #341
hmm I've done that but it says I'm up to date,
I guess there has  been some confusion when we merged with master?
Should I roll back? if so to which commit, I'm a bit confused with the history and at what point fixes have dissappeared. Thanks

[2017-06-28 09:31] sebastian-luna-valero commented on #341
Hi Charlie,

I agree, I could not see Andreas' fixes into the Py3-migration branches:
https://github.com/CGATOxford/cgat/commits/Py3-migration
https://github.com/CGATOxford/CGATPipelines/commits/Py3-migration

I found the same problem with Jenkins. I think the issue is with [pipeline_testing.py](https://github.com/CGATOxford/CGATPipelines/blob/Py3-migration/CGATPipelines/pipeline_testing.py#L467)

[2017-06-28 11:04] AndreasHeger commented on #341
Hi, sorry about that.

If I recall, the next() needs to be replaced by readline().

The issue was that in py3 the file is an IOBuffer or similar and
that does not have a next() method.

Best wishes,
Andreas

On 28/06/17 10:31, Sebastian Luna-Valero wrote:

[2017-06-29 13:26] sebastian-luna-valero commented on #341
Thanks, Andreas.

I think there is an additional issue. The `isComplete` function will check whether the last line of both `test_name.log` and `test_name/test_name.log` starts with `# job finished`. However, in the case of `test_name.log` that will never be the case in the `compareCheckSums` task of `pipeline_testing.py` since the (meta-)pipeline has not finished yet. Instead, you should be checki

[2017-06-29 20:46] AndreasHeger commented on #341
Hi @sebastian-luna-valero , might be a bug, but note that I want to test ./test_name_<target>.log instead of test_name/pipleline.log as the latter will also contain the log of the report building.

There is also the issue to test several logs if there are multiple targets to be tested in a pipeline, see for example pipeline_annotations.
Hopefully I pushed this correctly, I have the following snipp

[2017-06-30 08:51] sebastian-luna-valero commented on #341
Hi @AndreasHeger

Strange, I don't see new commits the `Py3-migration` branches yet.

The statement ` logfiles = glob.glob(track + "*.log")`, will return `['test_annotations.log', 'test_annotations.tgz.log']`, so you're right and it won't pickup the `test_annotations.dir/pipeline.log`, which I find necessary to check as well since `pipeline_testing.py` may finish silently while the pipeline under

[2017-06-30 08:58] AndreasHeger commented on #341
Thanks, let us talk on Monday.

I think I saw the changes on github, but maybe I put it in the wrong branch?

Best wishes,
Andreas

On 30/06/17 09:51, Sebastian Luna-Valero wrote:

[2017-07-03 10:11] AndreasHeger commented on #341
apologies, forgot to push changes to the CGAT repository, only CGAT
Pipelines.

just pushed!

On 06/30/17 09:51, Sebastian Luna-Valero wrote:

[2017-07-03 15:29] sebastian-luna-valero commented on #341
Thanks for fixing @AndreasHeger

[2017-07-03 15:29] #341 closed

[2017-08-10 16:26] blaiseli opened #347 "TypeError: '<' not supported between instances of 'Bed' and 'Bed' on merging with bed2bed"
The following file causes a failure of `bed2bed --method=merge --merge-by-name`:
[code]

[code]
`head -3 /tmp/bug.bed | cgat bed2bed --method=merge --merge-by-name` don't cause the error.

`tail -3 /tmp/bug.bed | cgat bed2bed --method=merge --merge-by-name` neither, but the result is not what I expected:

[code]

There are two successive lines with the same name. I expected them to be merged.

Is

[2017-08-10 16:39] IanSudbery commented on #347
I can see the problem with duplicated entries:

`last_name[strand]` @ line 232 will always be empty on the first comparison, thus the first and second lines will always appear to have different names. I havn't figured if this applies to the first comparison on each strand.

PR incoming.

[2017-08-10 17:00] IanSudbery commented on #347
I don't can't reproduce the `TypeError`. I am however, running in Py2, perhaps someone in py3 could have a go?

[2017-08-10 17:05] KatyBrown commented on #347
I think the TypeError is a python 3 problem as I have encountered it in another context in python 3 - I think the error is caused by trying to run the sorted() function on to_join.  I have made a pull request on a bugfix for this but I'd like Andreas to review before I merge.

[2017-08-11 09:28] blaiseli commented on #347
@IanSudbery I tried your branch, and I confirm the bed records seem to be fused as expected now. Thanks.

[2017-08-15 14:39] kathrinjansen opened #350 "GTF.py - issue with attributes fields in GTF-Entry class"
Hi all,
Should the line below in GTF.py (line 840) maybe be changed to the code suggested?
It looks like this is currently not keeping the last item in the attributes field if the final “;” of the line does not have a space. The new code below should take care of both “;” and “; “ at the end of the line.
Best wishes,
Kathrin

(line 840 in GTF.py)
`fields = [x.strip() for x in attributes.split("; "

[2017-08-21 10:59] AndreasHeger commented on #316
Hi @IanSudbery , sorry about this. The reason for the default conversion is our comparative genomics past and follows exonerate output and UCSC practice for some formats such as the chain format, which uses reverse strand coordinates for the reverse strand.

Changing the default should be fine, but indeed will need some thought. I can put it on my todo list.

[2017-08-21 15:41] #347 closed

[2017-08-21 15:43] AndreasHeger commented on #350
Many thanks, changed and committed!

[2017-08-21 15:44] #350 closed

[2017-09-01 16:24] sebastian-luna-valero opened #352 "PipelineGWAS.py"
Hi @MikeDMorgan

Should I move `PipelineGWAS.py` from the scripts repository:
https://github.com/CGATOxford/cgat/blob/master/CGAT/PipelineGWAS.py

to the pipelines repository?
https://github.com/CGATOxford/CGATPipelines/tree/master/CGATPipelines

Best regards,
Sebastian

[2017-09-01 16:58] sebastian-luna-valero opened #353 "bits_test call in bed_vs_bed.py"
Hi everyone,

The `bed_vs_bed.py` script says:

and contains a [call](https://github.com/CGATOxford/cgat/blob/master/CGAT/scripts/bed_vs_bed.py#L88) to an external program called `bits_test`.

Could somebody please point me to this external program?

Google takes me to [bits](https://github.com/arq5x/bits), but the CUDA requirement makes me doubt.

Best regards,
Sebastian

[2017-09-03 20:31] MikeDMorgan commented on #352
Hi Sebastian,
This module file started life as the pipeline module library, but it quickly evolved into a library for more generic analyses/handling large-scale genetic data.  It should be renamed to just `GWAS.py`, but I never got around to it.

[2017-09-04 14:39] sebastian-luna-valero commented on #352
Solved in https://github.com/CGATOxford/cgat/pull/354

[2017-09-04 14:39] #352 closed

[2017-09-04 16:21] sebastian-luna-valero commented on #353
Will ignore this dependency in the conda environment.

Feel free to reopen and add your comments.

[2017-09-11 13:51] AndreasHeger commented on #353
This is the correct bits, there is a non-cuda version as well.

[2017-09-13 15:55] Acribbs opened #356 "asGFF3() pysam error with gtf2gtf.py"
@AndreasHeger I have been working with pysam 0.11.2.2 and trying to run the following command:

cat /ifs/projects/adam/pipeline_gtf_test/data/test/test_gtf_subset.dir/test.gtf     | awk '$3 == "exon"'     | grep "transcript_id"     | cgat gtf2gtf     --method=sort     --sort-order=contig+gene     --log=ensembl.dir/geneset_flat.gtf.gz.log  2>/dev/null   | cgat gtf2gtf     --method=merge-exons --use

[2017-09-13 20:14] AndreasHeger commented on #356
I think it should be fixed in the new version. Strange the install does not work.

[2017-09-22 08:13] Acribbs commented on #356
This has been fixed with the pysam conda update. Thanks for your help @AndreasHeger

[2017-09-22 08:13] #356 closed

[2017-09-22 08:15] Acribbs commented on #24
I assume this issue can be closed, if not please reopen.

[2017-09-22 08:15] #24 closed

[2017-10-09 17:08] IanSudbery opened #362 "gtf2gtf --method=exons2introns: Documentation and method do not match"
The documentation for `gtf2gtf --method=exons2introns` says:

But this is not what `exons2introns` does.  Taken the following example with two transcripts:

[code]

As described I would expect the output to be as indicated by "Described Ouput", but that isn't what you get, you get what is described by "Actual Output" - which is the result of *intersecting* introns, not *merging* them.

Does anyone

[2017-10-10 07:58] Acribbs commented on #362
Hi ian,

It seems as though this is used in the buildIntronGeneModels of pipeline mapping. I can't see it being used anywhere else.

The documentation is as follows:
[code]

The only issue I can see is that our pipeline_mapping tests may fail if we made changes to the code. I will try and have a look at what tests are implemented today if I have time and get back to you on this.

Since buildIntron

[2017-10-11 08:05] sebastian-luna-valero commented on #362
Hi Ian,

Thanks for reporting the issue.

If you provide some toy input data to reproduce the issue in `gtf2gtf --method=exons2introns`, I am happy to have a look and update either the code or the docs depending on what we decide, and provide a test to capture this scenario.

Best regards,
Sebastian

[2017-10-26 09:35] sebastian-luna-valero opened #363 "addMLE=TRUE is only for when a beta prior was used"
Hi @CGATOxford/contributors,

When running `pipeline_testing.py` I run into the following issue in task `runDESeq2` of `pipeline_rnaseqdiffexpression.py`.

[code]

Specifically, the error is:
[code]

It points to class `DEExperiment_DESeq2` in `Expression.py`:
https://github.com/CGATOxford/cgat/blob/master/CGAT/Expression.py#L951

I am using `DESeq2` version 1.16.1.

Should we:
* update `Expressio

[2017-11-01 20:26] Acribbs commented on #363
Seems that the beta prior defaults to FALSE now for versions of DESeq2 > 1.16. Looks like there is a lfcShrink() function that should be implemented if using the new version of the code.

This is taken from the manual:
[code]

Therefore, we have two options:
- Keep the code as it is and revert to a version of DESeq2 < 1.16
- or I can implement lfcShrink()

I didn't  have a strong preference for ei

[2017-11-02 14:00] sebastian-luna-valero commented on #363
Thanks @Acribbs

Please note that we are using `R 3.4.1` and therefore `Bioconductor 3.5`, whereas `DESeq2 1.18` is available for `R 3.4.2` and `Bioconductor 3.6` (just released).

For this release of the CGAT code, I would like to stick to `Bioconductor 3.5`. If you could make the changes for `DESeq2 1.16` in a pull request, that would be brilliant!

Best regards,
Sebastian

[2017-11-02 14:08] Acribbs commented on #363
ok no worries,

I will implement the changes tomorrow  (Hopefully) and then close the issue when complete.

[2017-11-06 15:14] sebastian-luna-valero commented on #363
@Acribbs thanks for working on this on branch `AC-deseq`.

I am now testing the code and I get the following errors:
[code]

Could you please let me know your opinion?
Best regards,
Sebastian

[2017-11-07 08:35] Acribbs commented on #363
@sebastian-luna-valero  Did the last change fix this?

[2017-11-07 08:41] sebastian-luna-valero commented on #363
@Acribbs it didn't:
[code]

Although it seems to be picking up the change now:
[code]
Any ideas?
Best regards,
Sebastian

[2017-11-07 08:49] Acribbs commented on #363
Hmm, im running out of ideas because the plotMA function should work with the changed we implimented. Ah actually, I think the plotMA does not take the alpha=0.05, this seems to have moved to the results() function. When im finished my meetings I will make another pull request.

[2017-11-07 09:01] Acribbs commented on #363
Ah! plotMA now works directly on the ads object, the changes I made are only half the solution. please see: https://support.bioconductor.org/p/58342/. I will add to the pull request soon

[2017-11-07 10:35] sebastian-luna-valero commented on #363
Ok, so new issue now. This time related to pandas:
[code]

[2017-11-10 11:29] #295 closed

[2017-11-10 11:32] #94 closed

[2017-11-10 11:33] #103 closed

[2017-11-10 11:33] #141 closed

[2017-11-10 11:34] #156 closed

[2017-11-10 16:03] sebastian-luna-valero opened #368 "import bx.bbi.bigwig_file fails"
Tests are failing locally in Jenkins, due to:

[code]

The issue is that `bx-python` is not Python 3. To fix the issue, [pyBigWig](https://github.com/deeptools/pyBigWig) has to be used instead.

[2017-11-10 16:47] #368 closed

[2017-11-14 14:24] #363 closed

[2017-11-14 14:30] Acribbs commented on #301
Since this is old and sebastian has a new conda installation I will close this

[2017-11-14 14:30] #301 closed

[2017-11-14 14:31] #154 closed

[2017-11-14 14:31] Acribbs commented on #274
@TomSmithCGAT Can I close this?

[2017-11-14 14:32] Acribbs commented on #321
@sebastian-luna-valero has now implemented a conda installation and updated the documentation so I will close this

[2017-11-14 14:32] #321 closed

[2017-11-14 14:35] Acribbs commented on #293
Sorry for not replying, it seems as though your issue was missed over a year ago! Did you manage to solve your issue?

[2017-11-14 16:17] TomSmithCGAT commented on #274
Yeah, looks like this branch was merged a while ago (#281). Cheers

[2017-11-14 16:17] #274 closed

[2017-11-15 07:52] ejduncan commented on #293
I didn't manage to solve this issue, I am just about to do another (quite large) set of analyses - do you have any suggestions on what might be going wrong or what I might be doing wrong?

[2017-11-15 07:53] ejduncan commented on #293
I didn't manage to solve this unfortunately and I am just about to do another (quite large) set of analyses.  Any help or advice would be greatly appreciated!  Thanks.

[2017-11-15 08:05] Acribbs commented on #293
Are you able to provide s few lines of example input, the command you used and the output so I can help recreate and understand your issue. Thanks

[2017-11-15 09:55] Acribbs commented on #353
@sebastian-luna-valero can this be closed?

[2017-11-15 09:56] Acribbs commented on #329
I think this should be solved with the new pipeline. If im wrong please open it again.

[2017-11-15 09:56] #329 closed

[2017-11-15 09:57] Acribbs commented on #324
Closing issue, please re-open if you think the issue is not solved

[2017-11-15 09:57] #324 closed

[2017-11-15 09:59] Acribbs commented on #290
The Expression.py code has gone through significant changes since this issue. I will close it but please reopen if you think it necessary

[2017-11-15 09:59] #290 closed

[2017-11-15 10:00] Acribbs commented on #241
Was this issue resolved? Can it be closed?

[2017-11-15 10:01] Acribbs commented on #113
Have closed but please reopen if necessary

[2017-11-15 10:01] #113 closed

[2017-11-15 10:08] TomSmithCGAT commented on #241
@MikeDMorgan - Looks like your merge resolved this? Can you confirm before we close

[2017-11-15 10:41] MikeDMorgan commented on #241
Yep, I haven't encountered this issue since.

[2017-11-15 10:41] #241 closed

[2017-11-15 15:40] #353 closed

[2017-11-17 13:49] Acribbs commented on #362
Hi @IanSudbery was this issue resolved?

[2017-11-17 15:58] AndreasHeger commented on #293
Hi @ejduncan and @Acribbs . I think there were two issue. The length calculation did not take into only exons, but also any other annotations. This was a bug and is now fixed, 'length' is now only counted based on the --exon feature.

Also, "longest-transcript" is unfortunately a bit ambiguous. Longest transcript here is the one with the longest "transcript-length", which might not be the one with

[2017-11-17 16:16] Acribbs commented on #293
@AndreasHeger Thanks for the explanation.

[2017-11-24 12:51] Acribbs commented on #293
@AndreasHeger @ejduncan can this issue be closed?

[2017-11-24 13:05] AndreasHeger commented on #293
Ok for me, but would be good to know if it now behaves as expected for @ejduncan

[2017-11-27 18:15] ejduncan commented on #293
Hi, sorry I haven’t had a chance to try it yet – but will do ASAP.

From: Andreas Heger [mailto:notifications@github.com]
Sent: 24 November 2017 13:06
To: CGATOxford/cgat <cgat@noreply.github.com>
Cc: Elizabeth Duncan <E.J.Duncan@leeds.ac.uk>; Mention <mention@noreply.github.com>
Subject: Re: [CGATOxford/cgat] gtf2gtf - not selecting longest transcript? (#293)

Ok for me, but would be good to know

[2017-11-28 16:51] IanSudbery opened #378 "gff2fasta gives wrong sequence if samtools index is used"
gff2fasta needs and indexed fasta file to get the sequence from. It gets this using `CGAT.IndexedFasta`.

`CGAT.IndexedFasta` will accept either a `cgat` or `samtools` index for the fasta, however, the sequence output is only correct if the index is a `cgat` index, not if it is a `samtools` index.

I am thinking that almost all of the CGATPipelines that use gff2fasta are going to be pulling from d

[2017-12-01 09:28] AndreasHeger commented on #378
Thanks, I will look into this and fix.

[2017-12-01 12:52] AndreasHeger commented on #378
Hi @IanSudbery , I think we have an issue with the indices:
[code]
As you can see, one index is older than the actual file and the other index is truncated. I reindexed and now I get the same result.

[2017-12-01 16:04] AndreasHeger commented on #378
Closing this for now, but reopen if this was not the issue.

[2017-12-01 16:04] #378 closed

[2017-12-08 13:22] AndreasHeger commented on #325
Sorry for the delay. The issue is likely that double-counting occurs. I assume that the bed file is probably derived from a gene set with multiple alternative transcripts? There are probably duplicates:
[code]
This will be counted twice into the protein_coding bin by bedtools.  To avoid this, try:
[code]

[2017-12-08 13:23] AndreasHeger commented on #325
I will add some text to the help message to warn users.

[2017-12-08 13:30] AndreasHeger commented on #325
Please let me know if this is likely to be the issue.

[2017-12-14 20:20] tushardave26 commented on #325
@AndreasHeger - Thanks for your suggestion. I tried it and it doesn't make any difference. Seems like input BED file doesn't have any multiple alternative transcripts.

[2017-12-15 16:46] AndreasHeger commented on #325
Thanks. Could you share some of your data? I was able to reproduce the issue using duplicated intervals, but don't know how else it comes about.

[2018-01-03 14:06] IanSudbery opened #381 "Install error on installation of production version"
I've just been testing the new installer, and after installing get the following error when I run, for example, `cgat runExpression`:

[code]

Running the rpy2 tests shows the source of the problem:

[code]

This suggests that rpy2 was build against 3.4.1, but is linked against 3.3.2
However, if I run R from the commandline I get the conda R (3.4.1):

[code]
So the conda R is installed and is bein

[2018-01-05 10:38] AndreasHeger opened #382 "Factor out non-essential scripts and modules to removed dependencies"
To reduce unnecessary dependencies, remove all scripts not in Manifest.in and their unique dependencies and separate them into a separate repository.

[2018-01-05 10:47] AndreasHeger commented on #381
I think your diagnosis is correct, the issue is that rpy2 at runtime finds the wrong R. I don't think this is and 'order of package' problem. AFAIK, conda will not recompile. It seems that PATHS are a problem.
What does ldd tell you? In my repo, though not updated for a while:
[code]

[2018-01-05 10:58] AndreasHeger commented on #381
I did a fresh install, but now the linking is wrong as for you:
[code]

[2018-01-05 11:00] AndreasHeger commented on #381
and I get same error.

[2018-01-05 11:02] AndreasHeger commented on #381
The differences to the previous install (aside from older rpy2) is the origin. The latest install uses rpy2 from conda-forge instead of bioconda.

[2018-01-05 11:12] IanSudbery commented on #382
For me the key dependencies to remove are:

- [ ] rpy2
- [ ] biopython
- [ ] corebio
- [ ] sklearn
- [ ] psycopg2
- [ ] MySQLdb

It would also be really nice if we could remove:
- [ ] pandas
- [ ] matplotlib
- [ ] bxpython

The following modules import the modules on the key list:

- Expression
- GWAS
- Biomart
- Counts
- CSV2DB
- Tree
- TreeTools
- RateEstimation
- Bioprospector
- SequencePropert

[2018-01-05 11:17] AndreasHeger commented on #381
I can recover this by doing the following:

[code]
I think this is a conda problem or a problem in how rpy2 is built in conda-forge. I will create a pull-request with the work-around.

[2018-01-05 11:37] AndreasHeger commented on #381
... scratch that. The paths in rpy2 are set correctly.
My suspicion is that you have an LD_LIBRARY_PATH set? If so, this will be used first. Can you try:
[code]

[2018-01-05 11:38] AndreasHeger commented on #381
This is what the paths are:
[code]

[2018-01-05 12:04] AndreasHeger commented on #381
Good to hear that this is solved.

[2018-01-05 12:04] #381 closed

[2018-01-05 12:40] AndreasHeger commented on #316
Hmm, getSequence is always reverse complementing on negative strand:
see https://github.com/CGATOxford/cgat/blob/92ef30390ef55e71065582cbc5ecdd69ed9d0e3c/CGAT/IndexedFasta.py#L838

[2018-01-05 12:40] AndreasHeger commented on #316
I will add some tests.

[2018-01-05 14:28] IanSudbery commented on #382
@AndreasHeger `bxpython` is an ongoing pain.  For a start it is not going to be ported to py3.

In the production code it is used in:
- GeneModelAnalysis.pyx
- chain2stats
- gff2fasta
- gff2gff
- gtf2tsv

In those final three it appears that only `bx.intervals.intersection` is being used. Is there some way to avoid this? Is the alo used here much quicker than any of the others on offer?

[2018-02-05 16:55] IanSudbery opened #383 "ImportError on pandas import"
Hi All,

When I try running any cgat script that requires pandas I get the following error:

[code]

If I import pandas from an interactive python interpretor, it works fine. If I do the following, I get the error:

[code]

(I know this is a CGATReport Error, but it is also coming through, for eg bam2geneprofile)

Any ideas appreciated!

[2018-02-06 09:06] sebastian-luna-valero commented on #383
Hi Ian,

After sourcing your environment, could you please send the output of:
[code]

Also, it might be a problem with the `LD_LIBRARY_PATH`, so please have a look at:
[code]

Best regards,
Sebastian

[2018-02-06 14:42] IanSudbery commented on #383
Hi Sebastian,
I think we've sorted it out.

Turns out that we had two versions of both pandas and numpy installed in the same `site-packages` directory. One came from the conda build. The other, I think, came from trying to install CGATReport from the github to get an up-to-date fix for something. Doing this caused it to redownload and install many of its dependencies from source, including differ

[2018-02-06 14:42] #383 closed

[2018-02-06 16:43] sebastian-luna-valero commented on #383
Thanks!

[2018-04-04 21:58] SchwarzEM opened #388 "How can I get a conda installation of CGAT to include bed2psl.py?"
I've just run the standard conda installation of CGAT, as helpfully spelled out on the main page documentation.  The installation generally seems to have worked, but I noticed that it does not appear to have included the Python script bed2psl.py:

    https://github.com/CGATOxford/cgat/blob/f813167bf556fa0379674686c0d501bd03aee5de/CGAT/scripts/bed2psl.py

which was my *entire* motive for doing the

[2018-04-05 07:32] sebastian-luna-valero commented on #388
Hi,

The reason is that you have installed the `production` release of the code, which for some reason does not include `bed2psl.py`.

The list of scripts included in the `production` release is listed here:
https://github.com/CGATOxford/cgat/blob/master/MANIFEST.in

If you wanted to install all CGAT scripts on this repository, you should have used the `devel` release instead, which takes even mor

[2018-04-05 15:25] Acribbs commented on #388
Hi Sebastian,

For note, It seems as though the bed2psl.py script is missing in the new refactored repository. I think we should add it before the next release.

Adam

[2018-04-05 15:25] Acribbs commented on #388
I will open an issue on Cgat apps.

[2018-04-11 20:23] SchwarzEM opened #392 "How do I get bed2psl.py to run, in a conda (--devel) installation of CGAT?"
I've followed the advice in #388 in order to install a version of CGAT that contains `bed2psl.py`.

    curl -O https://raw.githubusercontent.com/CGATOxford/cgat/master/install-CGAT-tools.sh ;

    mkdir $HOME/src/cgat ;

    bash install-CGAT-tools.sh --devel --location $HOME/src/cgat ;
  **[...]
  [... long installation process that eventually reaches this message ...]
  [...]
  The code was suc

[2018-04-11 21:48] Acribbs commented on #392
As a sanity check, would you be able to run `which python` and `echo $PYTHONPATH` to make sure that your python path isn't pointing to another version of python.

The issue isn't clear to me at the moment and I have no issues running bed2psl, but if its related to your installation process @sebastian-luna-valero is the best person to answer this one.

[2018-04-12 01:44] SchwarzEM commented on #392
Thanks for the suggestions.  Here's what I get on my system, after running the following commands:

    cd $HOME/src/cgat ;
    source $HOME/src/cgat/conda-install/bin/activate cgat-s ;

_[the (cgat-s) environment appears]_

    which python ;

_~/src/cgat/conda-install/envs/cgat-s/bin/python_

    # check the version
    python --version ;

_Python 3.6.3_

    # now check this:
    echo $PYTHONPA

[2018-04-12 06:04] Acribbs commented on #392
Ah your PYTHONPATH is required for modules to be available within python. I wonder if this is the issue.

if you try
`source $HOME/src/cgat/conda-install/bin/activate cgat-s`
`unset PYTHONPATH`
`export PYTHONPATH=$HOME/src/cgat/cgat-scripts`

Then try
`cgat bed2psl --help`

if that works then you may want to automate this in your .basrc

[2018-04-12 07:39] sebastian-luna-valero commented on #392
Thanks, both.

Apart from `PYTHONPATH`, could you also print out:
[code]
A minor amendment to @Acribbs comments above. The steps to setup your `PYTHONPATH` correctly would be:
[code]

Please let us know how you get on.

Best regards,
Sebastian

[2018-04-12 07:53] Acribbs commented on #392
Thanks @sebastian-luna-valero,

just to clarify, would that mean you would get $HOME/src/cgat/cgat as your PYTHONPATH?

[2018-04-12 08:12] sebastian-luna-valero commented on #392
Thanks Adam, for pointing that out.

Sorry, it should be PYTHONPATH=$HOME/src/cgat/cgat-scripts

[2018-04-12 08:13] sebastian-luna-valero commented on #392
Updates:

In my comment above:
[code]
should actually be:
[code]

But more importantly, once you `source ${DEST}/conda-install/bin/activate cgat-s`, the command `cgat bed2psl --help` should just work. So I am now more inclined to think that the responsible for the error above should be `LD_LIBRARY_PATH`

If possible, please report:
[code]

[2018-04-12 15:59] SchwarzEM commented on #392
I've followed the consensus of the advice above.

Long story short -- `cgat bed2psl --help` still does not work, and although `$LD_LIBRARY_PATH` has plenty of directories in it, none of them include CGAT libraries that might be needed to make `bed2psl` function properly.

Here are the details of what I've just run:

    unset PYTHONPATH ;
    export DEST="$HOME/src/cgat" ;
    source ${DEST}/conda

[2018-04-12 16:04] sebastian-luna-valero commented on #392
Thanks!

Could you unset your `LD_LIBRARY_PATH`, please?
[code]

Does this make any difference?

Best regards,
Sebastian

[2018-04-12 16:36] SchwarzEM commented on #392
I've tried that too.  It makes no difference.  I have to wonder: should I be *explicitly* setting `LD_LIBRARY_PATH` to have some value that would give this a chance to work?

Here are the details of what I just did:

    export DEST="$HOME/src/cgat" ;
    cd $DEST ;

    unset PYTHONPATH ;
    unset LD_LIBRARY_PATH ;

    source ${DEST}/conda-install/bin/activate cgat-s ;
    export PYTHONPATH=${D

[2018-04-13 09:42] Acribbs commented on #392
Setting the $LD_LIBRARY_PATH is usually only required for shared libraries. I assume that @sebastian-luna-valero was asking to unset your path because it contained shared libraries for python2.7
i.e.
[code]

I will try to do some more digging into this, unfortunately sebastian is now on holiday for a week. Just as another sanity check,  are you able to run these two scripts: `cgat bam2bam --help`

[2018-04-13 13:10] AndreasHeger commented on #392
Hi, I think the issue that some multiple python versions got muddled. One possible quick-fix could be:
(best with an LD_LIBRARY_PATH that does not include any python's and within the cgat conda environment):

1. remove all the .so files
[code]
2. Go to the CGAT installation and rebuild:
[code]

[2018-04-15 22:04] SchwarzEM commented on #392
Briefly: I reinstalled conda (as part of Anaconda2, which is Python2-based, not Python3-based), then reinstalled CGAT, then followed the advice above to the best of my understanding.  Things still did not work.

Here, I'll give the full line-by-line story of what I've done.  In the next post, I'll ask a few questions about what things I might be able to do to fix the problems I'm encountering.

Wh

[2018-04-15 22:06] SchwarzEM commented on #392
@Acribbs wrote: "are you able to run these two scripts: cgat bam2bam --help and cgat bed2bed --help?"

I tried both of these.  They have both persistently failed.  You can see the gory long details in my immediately preceding post...

[2018-04-15 22:14] SchwarzEM commented on #392
@AndreasHeger wrote: "I think the issue that some multiple python versions got muddled. One possible quick-fix could be: (best with an LD_LIBRARY_PATH that does not include any python's and within the cgat conda environment)..."

I tried this, and it did not succeed.  However, it is very far from obvious to me that I have either the correct Python version in Anaconda, or the correct directories wi

[2018-04-16 07:15] Acribbs commented on #392
Hi,

r.e. running 3 different scripts: Some of those scripts use cython code some do not so wanted to eliminate this as the underlying issue.

My take on your questions, but @AndreasHeger may have other ideas.

1. If you are using our script for the install: As part of our installation process we install a version of miniconda (Anaconda has the habit of modifying your basrc (and I think maybe PYTH

[2018-04-16 08:09] Acribbs commented on #392
Just as another note, because you said you were new to python. Python 2 will no longer be supported from 2020, so if you can I would move completely to python3. https://pythonclock.org

[2018-04-16 19:43] SchwarzEM commented on #392
Thank you, @Acribbs, for the advice so far!

I have attempted to follow it completely.  For whatever reason, this has not led any of my scripts to work properly -- they're still exploding in Pythonic chaos when I try to run them.

Here's a detailed account of what I did:

    cd $HOME ;

    pico .bashrc ;   # comment out ". /mnt/home/emsch/anaconda2/etc/profile.d/conda.sh ;"

Log out and log back

[2018-04-16 20:12] SchwarzEM commented on #392
Also, I tried rebuilding the *.so files with the Python3 provided by CGAT; that, also, failed to help.

Here are details:

    # source ${DEST}/conda-install/bin/activate cgat-s ;

    cd $DEST ;

    find /mnt/home/emsch/src/cgat/cgat-scripts/CGAT -name "*.so" | perl -ne ' $input = $_; chomp $input; print "rm $input ;\n" ; ' > job.sh ;

    cat job.sh ;

rm /mnt/home/emsch/src/cgat/cgat-scripts/C

[2018-04-23 13:38] sebastian-luna-valero commented on #392
Hi @SchwarzEM

Sorry for all the hassle. I am surprised you did not have the same error messages when you raised a previous issue https://github.com/CGATOxford/cgat/issues/388 . I assume you are now installing the code in a different runtime environment.

Can I ask you to try the following steps instead, please?
[code]

If that works, then you should always unset both `LD_LIBRARY_PATH` and `PYTHON

[2018-04-26 22:52] SchwarzEM commented on #392
Hi @sebastian-luna-valero,

Unfortunately, following your instructions hasn't fixed any of the problems.  Here's what I got when I tried:

    cd /mnt/home/emsch/src ;
    rm -rf install-CGAT-tools.sh cgat ;

    unset LD_LIBRARY_PATH ;
    echo $LD_LIBRARY_PATH ;
    # empty; previously had been full

    unset PYTHONPATH ;
    echo $PYTHONPATH ;
    # empty

    DEST="$HOME/src/cgat" ;

    curl

[2018-04-26 22:58] SchwarzEM commented on #392
Here's a question: although I believe CGAT is supposed to import most of what it needs in order to compile itself (starting with miniconda), I assume that it does not try to import GCC compilers (gcc and g++).

What version(s) of gcc and g++ are optimal for installing and running CGAT?  Is one reason that I keep getting messages like this:

    ImportError: /mnt/home/emsch/src/cgat/cgat-scripts/CG

[2018-04-26 23:28] SchwarzEM commented on #392
I went ahead and re-installed CGAT after deleting not only the pre-existing installation, but my preexisting anaconda2 installation and its hidden directories -- to get rid of any files that might be confusing the installation.

Result: again, failure of the modules to run.

Details:

    cd $HOME/src ;
    source deactivate ;
    rm -rf install-CGAT-tools.sh cgat ;

    cd /mnt/home/emsch ;
    r

[2018-04-27 02:57] SchwarzEM commented on #392
So, 22 days ago, I had a reasonable solution proposed by @sebastian-luna-valero in #388 -- namely, do a standard installation of CGAT with the "--production" option rather than the "--development" option, then run these commands to patch bed2psl.py into CGAT:

    cd conda-install/envs/cgat-s/lib/python3.6/site-packages/CGAT/scripts ;
    wget https://raw.githubusercontent.com/CGATOxford/cgat/mast

[2018-04-27 03:00] SchwarzEM commented on #388
I'm going to add a follow-up comment here:

@sebastian-luna-valero's solution (just patch bed2psl.py into a standard "--production" installation of CGAT) is what I should have immediately tried.

I wasted three weeks by instead trying to make the "--devel" installation work (#392).  Ugh.

[2018-04-27 07:44] sebastian-luna-valero commented on #392
Thanks for your feedback @SchwarzEM  and sorry for all the hassle.

It is sad to see that after all the effort we put into making the installation of the code portable, it still does not work and waste other people's time out there.

The differences between the installation of `--production` and `--devel` can be see by comparing their conda environments:
* [devel](https://github.com/CGATOxford/cga

[2018-04-27 07:44] #392 closed

[2018-04-28 20:55] SchwarzEM opened #393 "Is there a positive computational control for correct function of bed2psl.py?"
I am trying to run bed2psl.py on a rather small BED aligment file, but it's not working.  `MtDNA.fa` is the target (reference) sequence in the BED alignment; `chrM_pilon.fa` is the query sequence.

Here's how it's gone:

    cgat index_fasta MtDNA.cgat.db MtDNA.fa --log=MtDNA.log --error=MtDNA.err ;
    cgat index_fasta chrM_pilon.cgat.db chrM_pilon.fa --log=MtDNA.log --error=MtDNA.err ;

    cgat

[2018-07-20 09:02] sebastian-luna-valero commented on #382
Since this repository has been refactored in https://github.com/cgat-developers/cgat-apps and `bx-python` as been replaced with `quicksect`, can we close this issue?

On the other hand, `bx-python-0.8.1` has been migrated to Python 3 so we could add it back as it is not too dependency heavy.

[2018-09-03 03:07] sandobits opened #398 "gtf2gtf endless processing"
Hello.
I'm having an issue on which I run the gtf2gtf script, the process starts but never ends and the 'top' task manager also showed no signs of any processes apparently derived from the script. I left it idle for about half an hour to absolutely no difference in either the task manager or the running script itself.
I have some screenshots of the commands and the behaviour.

![run-cgat-gtf2gtf-i

[2018-09-03 06:54] IanSudbery commented on #398
Hi,

The script is waiting for input. This is because gtf2gtf takes its input
from the stdin. If you wish to direct a file in, then use the option
--stdin/-I before the name of the input file.

[2018-09-05 18:47] #398 closed

[2018-09-14 19:05] sandobits opened #399 "pip install 'bx-python==0.7.3' - exit status 1"
I had CGAT installed on my personal machine running Linux Mint 18.3, and worked fine.
I tried installing it on the laboratory computer, which runs Ubuntu 16.04, but I got the following error message:

I do not know any other variables involved in the installation process other than the operating system and hardware configuration.

[2018-09-15 07:07] Acribbs commented on #399
Hi,

We are actually in the process of porting most of our code and refactoring to https://github.com/cgat-developers/cgat-apps. I think we have removed the bx-python dependancy (from memory pip install bx-python does not install some shared libraries and can have dependancy issues) so you may want to consider trying to install this new code.

[2018-10-12 08:06] #399 closed

[2019-03-05 18:45] ghost opened #400 "CGAT fails to install using conda"
I have been trying to install CGAT using conda but I haven't been able. In my last attempt, I used the recommended steps in the CGAT installation page.
Here's the message that the script requested I passed along.

Please copy and paste this error and report it via Git Hub:
 https://github.com/CGATOxford/cgat/issues

 Debugging:
 CFLAGS:
 CPATH:
 C_INCLUDE_PATH:
 CPLUS_INCLUDE_PATH:
 LIBRARY_PATH:

[2019-03-05 18:53] Charlie-George commented on #400
Hi,

would you mind pasting the conda command you used and the link to the cgat installation page that you followed the instructions from?

What operating system are you trying to install on? OX?

Thanks

[2019-03-05 18:59] Acribbs commented on #400
Hi @avp25 , this is actually the old CGATOxford repository, for the newest version of the code in cgat-developers please use this https://github.com/cgat-developers/cgat-apps.

To install you should be able to simply run:
`conda install -c bioconda cgat-apps `

[2019-05-31 13:17] ghost commented on #400
Hi Adam,

Sorry for not getting back to you earlier. I will try this installation next time. As for now, I have CGAT working 'somehow' so all is good.

Thank you for your help
Anna

[2019-05-31 13:19] Acribbs commented on #400
Hi @avp25, no problem At the moment I think the bioconda cgat-apps is actually broken because of python 3.7 and cython issue. We are currently working to fix it.

Great that its fixed, I will close this issue.

[2019-05-31 13:19] #400 closed, assigned to nobody